@using borsvarlden.ViewModels;
@model List<NewsViewModel>

<div class="related-news">
    <span class="label related-news-label">
        RELATERAT FRÅN FINWIRE
    </span>
    <div class="related-news-container">
        @foreach (var article in Model)
        {
            <div class="related-news-wrapper">
                <a href="~/articlar/@Html.Raw(article.TittleSlug)" class="related-news-article row">
                    <div class="related-news-date col-2">
                        <p>
                            @(article.Date.Date == DateTime.Today ? article.Date.ToString("HH:mm") : article.Date.ToString("d MMM"))
                        </p>
                    </div>
                    <div class="related-news-content col-10">
                        <p>
                            @article.Title
                        </p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
