@using borsvarlden.Helpers
@using Microsoft.Extensions.Caching.Memory;
@inject IMemoryCache memoryCache

<div class="top-banner-wraper">
    @Html.Raw(@BannerHelper.GetHtmlAsync("test1", memoryCache).ConfigureAwait(false).GetAwaiter().GetResult())
</div>