
@{
    ViewData["Title"] = "About";
}

@section Styles{
    <link rel="stylesheet" href="~/css/bv-top-level.css" />
}

<section class="section-page">
    <div class="container bv-container-page">
        <h1>Vilka är Börsvärlden?</h1>
        <p>Börsvärldens är en finansiell nyhetskanal och modern “konceptbyrå” med en målsättning att sticka ut i det finansiella mediebruset och ge dig informationen som du inte läser i övrig finansmedia. Vår ambition är inte att vara störst, snabbast eller att konkurrera med de rena nyhetsbyråerna. Med ett team av medarbetare där samtliga har ett brinnande intresse, en djup kännedom och stort kontaktnätverk inom branschen, är vår förhoppning istället att kunna erbjuda ett brett spektrum av information som passar såväl dig som är intresserad av aktiv trading som dig som agerar på längre sikt.</p>
        <p>Vi har en bred och djup förståelse för finansbranschens ofta väldigt komplicerade dynamik. Detta kombinerat med flertalet mycket uppskattade samarbetspartners och starka influencers ger oss en möjlighet att ligga i framkant med nytänkande, kreativitet och förnyelse.</p>
        <p>Under de senaste åren har vi etablerat oss som en innovativ aktör inom nya finansiella “utbildningskoncept”, där exempelvis&nbsp;<a href="~/traders-club/">Traders Club</a>, en social tradingcommunity, kan nämnas.</p>
        <p>
            I en snabbt föränderlig bransch har vi som målsättning att ständigt utvecklas och förnya oss och vi hoppas att ni alla vill delta på denna fortsatta resa tillsammans med oss!
        </p>
    </div>
</section>
<section class="section-page">
    <div class="container bv-container-page"></div>
    <section class="section-5pc gray bigfonts">
        <div class="container body-container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="margin-bottom-20">Vill du komma i kontakt med Börsvärlden?</h2>
                    <p style="font-size: 20px;">
                        Du är alltid välkommen att kontakta oss på e-post <a href="mailto:info@borsvarlden.com">info@borsvarlden.com</a> om du har några frågor eller funderingar.
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>