@{
    ViewData["Title"] = "Main Page";
}

@section Styles{
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/article.css" />
}

<div class="row index-row">
    <div class="col-10 index-content-wrapper">
        <div class="banner-wrapper">
            <img src="~/assets/images/savr-panorama.jpg">
        </div>
        <div class="row">
            <div class="col-8">
                @await Component.InvokeAsync("IndexNewsFeed")
            </div>
            <div class="col-4">
                @await Component.InvokeAsync("SponsoredNews")
                @await Component.InvokeAsync("MostReadNews")
                @await Component.InvokeAsync("LatestNews")
            </div>
        </div>
    </div>
    <div class="col-2 index-side-banner-wrapper">
        <img src="~/assets/images/luxbright_skyscraper.jpg" width="200" height="400">
        <div class="stiky-side-banner">
            <img src="~/assets/images/ani_synas.gif" width="200" height="200">
        </div>
    </div>
</div>

@section Scripts{ }
