@{
    ViewData["Title"] = "Maximera din digitala synlighet";
}


@section Styles{
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/article.css" />
    <link rel="stylesheet" href="~/css/bv-form.css" />
    <link rel="stylesheet" href="~/css/bv-widget-subscribe.css" />
    <link rel="stylesheet" href="~/css/bv-top-level.css" />
    <link rel="stylesheet" href="~/css/bv-panel.css" />
    <link rel="stylesheet" href="~/css/bv-screen-768px.css"/>
}

<div class="row index-row">
    <div class="col-10 index-content-wrapper">
        <div class="banner-wrapper">
            <img src="~/assets/images/savr-panorama.jpg">
        </div>
        <div class="row index-content-row">
            <div class="col-8 content-main">
                @await Component.InvokeAsync("IndexNewsFeed")

                <div class="content-botom-hidden">
                    @await Component.InvokeAsync("SponsoredNews")

                    @await Component.InvokeAsync("LatestNews")
                </div>
                <a class="button button-red" href="@Url.Action("NewsList", "Home")">Läs fler artiklar</a>
            </div>
            <div class="col-4 content-right">
                @await Component.InvokeAsync("SponsoredNews")
                @await Component.InvokeAsync("MostReadNews")
                @await Component.InvokeAsync("SubscribeForm")
                @await Component.InvokeAsync("LatestNews")
            </div>
        </div>
    </div>
    <div class="col-2 visible-lg index-side-banner-wrapper">
        <img src="~/assets/images/luxbright_skyscraper.jpg" width="200" height="400">
        <div class="stiky-side-banner">
            <img src="~/assets/images/ani_synas.gif" width="200" height="200">
        </div>
    </div>
</div>

@section Scripts{ }
