
@{
    ViewData["Title"] = "Information om cookies - Börsvärlden";
}

<section class="section-page">
    <div class="container bv-container-page">
        <h1>Cookies och interaktion på Börsvärldens webbplats</h1>
        <p>För att dra full nytta av Börsvärldens hemsida använder vi cookies, beacons och liknande tekniker (“<strong>cookies</strong>”) på vår webbplats. Här förklarar vi vad vi använder våra cookies till, vad de gör och hur du kan påverka användningen av cookies på vår webbplats.</p>
        <p>Se vår <a href="~/integritetspolicy/">Dataskyddspolicy</a> för information om hur vi använder dina personuppgifter.</p>
        <h3><b>Vad är cookies?</b></h3>
        <p><span style="font-weight: 400;">En </span><b>cookie</b><span style="font-weight: 400;"> är en liten textfil som består av bokstäver och siffror, och som lagras på din dator, mobiltelefon eller annan enhet när du besöker en webbplats. </span></p>
        <p><span style="font-weight: 400;">Vi använder</span></p><ul><li><b>sessionscookies</b><span style="font-weight: 400;"> (som löper ut när du stänger din webbläsare), och</span></li><li><b>beständiga cookies</b><span style="font-weight: 400;"> (som är kvar på enheten under en viss tid eller tills du tar bort dem).</span></li><li><b>Förstapartscookies</b><span style="font-weight: 400;"> är cookies satta av webbplatsen. Vi använder förstapartscookies för att spara din interaktion med webbplatsen (som att komma ihåg ditt val när du tryckt på pop-ups etc).</span></li><li><b>Tredjepartscookies <span style="font-weight: 400;">är cookies satta av en tredjepartssida. Vi använder tredjepartscookies för att få besökarstatistik och för att leverera marknadsföring på webbplatsen.</span></b></li></ul>
        <p>Cookien hjälper webbplatsleverantörer att känna igen din enhet nästa gång du besöker deras webbplats. Det finns andra liknande tekniker såsom pixeltaggar (transparenta grafiska bilder placerade på en webbsida eller i ett e-postmeddelande, som indikerar att en sida eller e-post har visats), s.k. web bugs (liknande pixeltaggar) och webblagring, som används i programvara på datorer eller mobila enheter.</p>
        <p>Cookien hjälper webbplatsleverantörer att känna igen din enhet nästa gång du besöker deras webbplats. Det finns andra liknande tekniker såsom pixeltaggar (transparenta grafiska bilder placerade på en webbsida eller i ett e-postmeddelande, som indikerar att en sida eller e-post har visats), s.k. web bugs (liknande pixeltaggar) och webblagring, som används i programvara på datorer eller mobila enheter.</p>
        <h3>Varför använder vi cookies?</h3>
        <p>När du använder och besöker vår webbplats, kan vi komma att placera ett antal cookies i din webbläsare.</p>
        <p>Vi använder cookies för dessa syften: mäta aktivitet på vår webbplats, optimera upplevelsen av Börsvärlden genom att presentera mer relevant innehåll för dig och för att administrera.</p>
        <p>Vi använder även cookies i marknadsföringssyfte genom att analysera besökarna på webbplatsen och anpassa den marknadsföring vi använder för sådana besökare.</p>
        <h3>Vilka cookies använder vi?</h3>
        <table class=" article-table stacktable small-only">
            <tbody><tr class="  "><th class="st-head-row st-head-row-main" colspan="2"><b>Typ av cookie</b></th></tr>
            <tr class="">
                <th class="st-head-row" colspan="2">
                    <p>Webbplatsspecifika cookies</p></th></tr>
            <tr class=""><td class="st-key"><b>Syfte</b></td>
                <td class="st-val ">
                    <p>Sparar information om användarens interaktion med webbplatsspecifika element, såsom pop-ups och dylikt. Dessa cookies är anonyma och trackar ej användarens aktivitet på andra sidor. Dessa cookies kan ej stängas av.</p>
                    <p>Specifika syften:<br> • Cookies för att ej visa pop-ups igen<br> • Cookies för att ej visa cookie-meddelanden igen</p></td></tr><tr class=""><td class="st-key"><b>Lagringstid</b></td><td class="st-val ">3 mån för popups<br> 6 mån för cookiemeddelande</td></tr><tr class=""><th class="st-head-row" colspan="2">Google Analytics</th></tr><tr class=""><td class="st-key"><b>Syfte</b></td><td class="st-val ">Sparar information om användaren samt dennes beteende för att kunna ge webbplatsstatistik. Dessa cookies behandlas med berättigat intresse.</td></tr>
            <tr class=""><td class="st-key"><b>Lagringstid</b></td>
                <td class="st-val ">
                    <p>_ga 2 år<br> _gat 0 dagar<br> _gid 1 dagar</p>
                    <p>När cookien är raderad/inte lagrad kan den komma att återskapas med samma innehåll som innan radering</p></td></tr><tr class=""><th class="st-head-row" colspan="2">Zendesk</th></tr><tr class=""><td class="st-key"><b>Syfte</b></td><td class="st-val ">Identifierar användaren för att kunna erbjuda möjlighet att kontakta vår support via chat på hemsidan/e-mail. Denna cookies behandlas med berättigat intresse.</td></tr><tr class=""><td class="st-key"><b>Lagringstid</b></td><td class="st-val ">1 år</td></tr><tr class=""><th class="st-head-row" colspan="2">Facebook pixel</th></tr><tr class=""><td class="st-key"><b>Syfte</b></td><td class="st-val ">Identifierar användaren via Facebook som ger oss statistik om besökarna, samt ger oss möjlighet att rikta information och reklam via Facebook. Dessa cookies behandlas med berättigat intresse.</td></tr><tr class=""><td class="st-key"><b>Lagringstid</b></td><td class="st-val ">Permanent (ingen cookie sparas i webbläsaren, men pixeln känner av besökaren)</td></tr></tbody></table>
        <table class="article-table stacktable large-only">
            <tbody><tr><td><b>Typ av cookie</b></td><td><b>Syfte</b></td><td><b>Lagringstid</b></td></tr>
            <tr>
                <td>
                    <p>Webbplatsspecifika cookies</p></td>
                <td>
                    <p>Sparar information om användarens interaktion med webbplatsspecifika element, såsom pop-ups och dylikt. Dessa cookies är anonyma och trackar ej användarens aktivitet på andra sidor. Dessa cookies kan ej stängas av.</p>
                    <p>Specifika syften:<br> • Cookies för att ej visa pop-ups igen<br> • Cookies för att ej visa cookie-meddelanden igen</p></td><td>3 mån för popups<br> 6 mån för cookiemeddelande</td></tr>
            <tr><td>Google Analytics</td><td>Sparar information om användaren samt dennes beteende för att kunna ge webbplatsstatistik. Dessa cookies behandlas med berättigat intresse.</td>
                <td>
                    <p>_ga 2 år<br> _gat 0 dagar<br> _gid 1 dagar</p>
                    <p>När cookien är raderad/inte lagrad kan den komma att återskapas med samma innehåll som innan radering</p></td></tr><tr><td>Zendesk</td><td>Identifierar användaren för att kunna erbjuda möjlighet att kontakta vår support via chat på hemsidan/e-mail. Denna cookies behandlas med berättigat intresse.</td><td>1 år</td></tr><tr><td>Facebook pixel</td><td>Identifierar användaren via Facebook som ger oss statistik om besökarna, samt ger oss möjlighet att rikta information och reklam via Facebook. Dessa cookies behandlas med berättigat intresse.</td><td>Permanent (ingen cookie sparas i webbläsaren, men pixeln känner av besökaren)</td></tr></tbody></table>
        <h3>Hur kan du kontrollera Börsvärldens användande av Cookies?</h3>
        <p>Om du skulle vilja begränsa, blockera eller raderas cookies från Börsvärldens webbplats eller från andra webbplatser, kan du använda din webbläsare för att göra detta. Gå till inställningarna för din webbläsare eller enhet för att göra sådana inställningar. &nbsp;Varje webbläsare är annorlunda, så använd hjälp-avdelningen för den webbläsare som du använder dig av för att se hur du kan ändra dina val för cookies. Du kan till exempel välja att blockera alla cookies, endast acceptera förstapartscookies, eller radera cookies när du stänger ner din webbläsare.</p>
        <p>Du kan välja att helt inaktivera Google Analytics-cookies (även på andra hemsidor) genom att opta-out från Google Analytics, genom att använda deras Add-on som finns på <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a></p>
        <h3>Kontakta oss vid frågor</h3>
        <p>Har du frågor om hur vi använder cookies eller generellt om hur vi hanterar dina uppgifter tar vi gärna emot dina frågor kring dataskydd och personuppgifter på <a href="mailto:info@borsvarlden.com">info@borsvarlden.com</a>. Du kan även läsa från <a href="~/integritetspolicy/">Dataskyddspolicy</a>.</p>
        <p><em>Senast uppdaterad: 2018-05-24</em></p></div>
</section>

