@{
    ViewData["Title"] = "Integritetspolicy - Börsvärlden";
}

<section class="section-page">
    <div class="container bv-container-page">
        <h1>Dataskyddspolicy</h1>
        <p>Mediagruppen TopTraders i Sverige AB (<strong>“Börsvärlden”</strong>), org.nr. 556977-6593, som driver varumärket Börsvärlden, är personuppgiftsansvarig för behandlingen av dina personuppgifter. Har du frågor gällande vår hantering av dina personuppgifter är du välkommen att kontakta oss på <a href="mailto:info@borsvarlden.com">info@borsvarlden.com</a>.</p>
        <p>Vill du inte längre få e-post? <a href="http://borsvarlden.us8.list-manage1.com/unsubscribe?u=4896fc5971b74f114ff713288&amp;id=c2e1e2ec40" target="_blank" rel="noopener">Här</a> kan du avregistrera dig från kommande e-postutskick.</p>
        <h3>Innehållsförteckning</h3><ul><li><strong>Vilken information samlar vi in och varför?</strong></li><li><strong>Vad du samtycker till</strong><br> Nyhetsbrev</li><li><strong>Återkalla samtycke</strong></li><li><strong>Berättigat intresse</strong><br> Traders Club<br> Marknadsföring och annonsering<br> Vilka vi delar din information med<br> Överföringar till andra länder</li><li><strong>Dina rättigheter</strong></li><li><strong>Barn</strong></li><li><strong>Säkerhet</strong></li><li><strong>Länkar</strong></li><li><strong>Cookie Policy</strong></li><li><strong>Ändringar i dataskyddspolicyn</strong></li></ul>
        <h3>Vilken information samlar vi in och varför?</h3>
        <p>Vi samlar främst in din e-postadress för att kommunicera med dig, men för några av våra mer omfattande projekt har vi även ett administrativt behov av att komplettera med dina namn- och adressuppgifter. För våra betalda event kan vi även komma att samla in betalinformation. Här nedan beskriver vi de olika situationerna som vi behandlar dina uppgifter, på vilken grund vi behandlar dem och hur länge vi sparar uppgifterna.</p>
        <table class=" article-table stacktable small-only">
            <tbody>
            <tr class="  ">
                <th class="st-head-row st-head-row-main" colspan="2">
                    <p><b>Syfte med behandlingen</b></p></th></tr>
            <tr class="">
                <th class="st-head-row" colspan="2">
                    <p><span style="font-weight: 400;">Nyhetsbrev som innehåller annonsering</span></p></th></tr>
            <tr class="">
                <td class="st-key">
                    <p><b>Rättslig grund för behandlingen</b></p></td>
                <td class="st-val ">
                    <p><span style="font-weight: 400;">Samtycke</span></p></td></tr>
            <tr class="">
                <td class="st-key">
                    <p><b>Hur länge sparar vi uppgifterna</b></p></td>
                <td class="st-val ">
                    <p><span style="font-weight: 400;">Tills avregistrering sker</span></p></td></tr>
            <tr class="">
                <th class="st-head-row" colspan="2">
                    <p><span style="font-weight: 400;">Traders Club</span></p></th></tr>
            <tr class="">
                <td class="st-key">
                    <p><b>Rättslig grund för behandlingen</b></p></td>
                <td class="st-val ">
                    <p><span style="font-weight: 400;">Berättigat intresse</span></p></td></tr>
            <tr class="">
                <td class="st-key">
                    <p><b>Hur länge sparar vi uppgifterna</b></p></td>
                <td class="st-val ">
                    <p><span style="font-weight: 400;">Tills avregistrering sker (kölista). Löpande tills medlemskap upphör (antagna medlemmar). Ett år (icke antagna ansökningar). </span></p></td></tr></tbody></table>
        <table class="article-table stacktable large-only">
            <tbody>
            <tr>
                <td>
                    <p><b>Syfte med behandlingen</b></p></td>
                <td>
                    <p><b>Rättslig grund för behandlingen</b></p></td>
                <td>
                    <p><b>Hur länge sparar vi uppgifterna</b></p></td></tr>
            <tr>
                <td>
                    <p><span style="font-weight: 400;">Nyhetsbrev som innehåller annonsering</span></p></td>
                <td>
                    <p><span style="font-weight: 400;">Samtycke</span></p></td>
                <td>
                    <p><span style="font-weight: 400;">Tills avregistrering sker</span></p></td></tr>
            <tr>
                <td>
                    <p><span style="font-weight: 400;">Traders Club</span></p></td>
                <td>
                    <p><span style="font-weight: 400;">Berättigat intresse</span></p></td>
                <td>
                    <p><span style="font-weight: 400;">Tills avregistrering sker (kölista). Löpande tills medlemskap upphör (antagna medlemmar). Ett år (icke antagna ansökningar). </span></p></td></tr></tbody></table>
        <h3>Vad du samtycker till</h3><h4>Nyhetsbrev</h4>
        <p>När du skriver upp dig på nyhetsbrevet samtycker du till att vi skickar regelbundna nyhetsbrev till dig, genom att vi sparar din e-postadress och använder den för att skicka ut dessa nyhetsbrev. Dessa nyhetsbrev innehåller också reklam. Din e-post sparas av oss och används i detta syfte fram tills att du avregistrerar dig, vilket är lätt att göra genom länk i mailutskicken, genom vår hemsida eller genom att kontakta <a href="mailto:info@borsvarlden.com">info@borsvarlden.com</a>. Informationen delas inte med andra.</p>
        <h3>Återkalla samtycke</h3>
        <p>Du kan när som helst återkalla de samtycken som du har givit. Vi kommer då att, beroende på vilket samtycke som återkallas, inte längre skicka nyhetsbrev till dig. Uppgifterna tas bort om inte annan laglig grund för behandling finns. &nbsp;Återkallelse av dina samtycken eller uppdatering av dina registrerade personuppgifter gör du smidigast via länk i mailutskicken eller på vår hemsida, alternativt genom att skicka ett mail till <a href="mailto:info@borsvarlden.com">info@borsvarlden.com</a>.</p>
        <h3>Berättigat intresse</h3><h4>Traders Club</h4>
        <p><strong>Kölistan<br> </strong>När du skriver upp dig på kölistan behandlar vi dina personuppgifter (Namn och e-post) för att kunna skicka ut mail till dig för att du ska kunna ansöka om att få en plats i Traders Club. Du är med i kölistan fram tills att du avregistrerar dig från kölistan. Personuppgifterna delas inte med andra.</p>
        <p><strong>Ansökan till att vara med i Traders Club<br> </strong>Om du har fått en inbjudan via kölistan, kommer du att få svara på några frågor, som vi använder för att se om du ska bli accepterad till Traders Club eller inte.</p>
        <p>Du får självmant välja vad du vill svara på och uppgifterna behandlas för att avgöra inträde i Traders Club. Blir du antagen behandlar vi dina personuppgifter (dvs namn, e-post, ålder och svar på frågorna) för att kunna låta dig bli medlem i Traders Clubs medlemsgrupp på Facebook och löpande verifiera att du fortsatt är med i klubben. Dina personuppgifter kopplade till ansökan behandlas löpande under tiden för när du är medlem, eller högst ett år om du inte blivit antagen för att vi ska kunna se om du ansökt tidigare under den perioden. Du kan när som helst invända mot vår behandling av dina personuppgifter baserad på berättigat intresse genom att kontakta <a href="mailto:tradersclub@borsvarlden.com">tradersclub@borsvarlden.com</a>. Information om medlemskap i Traders Club kan komma att delas med de samarbetspartners som Traders Club har (aktuell lista med samarbetspartners finns på informationssidan för Traders Club).</p>
        <p><strong>Allmänt<br> </strong>Behandlingen av dina personuppgifter för Traders Club är baserat på vårt berättigade intresse.</p><h4>Marknadsföring och annonsering</h4>
        <p>Vi är en finansiell nyhetskanal och konceptbyrå och vårt mål är att sticka ut i det finansiella nyhetsbruset och ge dig informationen som du inte läser i övrig finansmedia. Det kan även innebära att vi skickar dig information som vi tror är aktuell för dig. Vi tillåter bara annonsörer och samarbetspartners som vi bedömer kan erbjuda dig ett mervärde i de produkter, tjänster eller investeringsmöjligheter som de erbjuder. Vi tar inget ansvar för information som tillhandahålls av annonsörer eller samarbetspartners via Börsvärldens publikationer, informationsutskick eller webbplats.</p><h4>Vilka vi delar din information med</h4>
        <p>Dina uppgifter är viktiga för oss och vi låter inte andra än oss själva använda dina personuppgifter, om det inte annat framgår av denna policy. Vi använder oss av olika underleverantörer som hjälper oss att erbjuda våra tjänster, som att skicka ut mail, sköta vår bokföring och betalning.</p>
        <p>Det kan hända att vi köper ett annat företag eller deras tillgångar, eller kanske att vi säljer några av våra tillgångar. Om en sådan försäljning innefattar behandling av dina personuppgifter så kan det innebära att dina personuppgifter överlåts tillsammans med tillgången eller inför en sådan affär.</p><h4>Överföringar till andra länder</h4>
        <p>Vissa av våra underleverantörer &nbsp;befinner i sig andra länder än EU. Därför sker tredjelandsöverföring till andra länder som är utanför EU.</p>
        <p>De underleverantörer som vi använder är ansluta till ramverket “EU-US Privacy Shield Framework” som gör att de överföringar som sker omfattas av lämpliga skyddsåtgärder.</p>
        <p>Vill du ha mer information om hur ramverket fungerar kan du läsa mer på Privacy Shields hemsida: <a href="https://www.privacyshield.gov/welcome">https://www.privacyshield.gov/welcome</a></p>
        <h3>Dina rättigheter</h3>
        <p>Eftersom vi behandlar din information så är det också viktigt att du känner till vilka rättigheter du har som kund. Här nedan hittar du information om vilka rättigheter du har och hur de förhåller sig till hur vi behandlar dem:</p><ul><li><strong>Rätt till registerutdrag.</strong> Du har rätt att begära en kopia av de personuppgifter vi har lagrade om dig, och du har rätt att få det kostnadsfritt en gång om året. Du kan skicka en begäran om registerutdrag till <a href="mailto:info@borsvarlden.com">info@borsvarlden.com</a></li><li><strong>Rätt till rättelse.</strong> Om vi har felaktig eller ej komplett information om dig så har du rätt att när som helst begära att vi korrigerar den.</li><li><strong>Rätt till radering.</strong> Du har rätt att begära att vi raderar information om dig som det inte längre är nödvändigt för oss att behålla, om informationen har uppfyllt syftet som den samlades in för. Detta gäller även om vi behandlar dina personuppgifter med ditt samtycke. Om du väljer att dra tillbaka ditt samtycke så har du också rätt att begära att den informationen raderas.</li><li><strong>Rätt att invända mot behandling.</strong> När vi behandlar din information på grunden “berättigat intresse” så har du rätt att invända mot behandlingen på grund av skäl som hänför sig till din specifika situation och som vi inte rimligen hade kunnat förutse. Om du invänder mot sådan behandling måste vi antingen påvisa tvingande berättigande skäl som väger tyngre än de skäl du angett, eller upphöra med just den behandlingen av dina uppgifter.</li><li><strong>Rätt till dataportabilitet.</strong> Du har rätt att få ut dina personuppgifter som du har tillhandahållit oss och har rätt att överföra dina personuppgifter till en annan personuppgiftsansvarig.</li><li><strong>Rätt att inge klagomål till tillsynsmyndigheten.</strong> Om du inte är nöjd med hur vi behandlar din information så hoppas vi att du berättar detta för oss så att vi kan bli bättre på att förvalta ditt förtroende. Oavsett så har du alltid en rätt att inge ett klagomål till Datainspektionen vilket du hittar mer information om här: <a href="https://www.datainspektionen.se/om-oss/arbetssatt/klagomal/">https://www.datainspektionen.se/om-oss/arbetssatt/klagomal/</a></li></ul>
        <h3>Barn</h3>
        <p>Våra tjänster riktar sig inte till barn under 13 år. Vi samlar inte medvetet in personuppgifter från barn som är under 13 år. Om du är förälder till ett barn och blir medveten om att ditt barn har lämnat personuppgifter till oss, vänligen kontakta oss på info@borsvarlden.se så att du kan begära att få utöva dina tillämpliga tillgångs-, rättelse-, uppsägnings- och/eller invändningsrättigheter.</p>
        <h3>Säkerhet</h3>
        <p>Börsvärlden sätter din personliga integritet i första rummet och arbetar därför aktivt för att dina personuppgifter behandlas med största försiktighet. Börsvärlden vidtar de åtgärder som rimligen kan krävas för att säkerställa att din personuppgifter behandlas säkert och i enlighet med denna policy och GDPR.</p>
        <p>Överföring av information via internet och mobila nätverk, kan dock aldrig ske helt riskfritt, varför all faktiskt överföring sker på egen risk.</p>
        <h3>Länkar</h3>
        <p>Hemsidan samt våra nyhets- och reklamutskick kan innehålla länkar till hemsidor som tillhör tredje part. Följer du en sådan länk bör du kontrollera vilka villkor och policys som gäller för den aktuella hemsidan innan du lämnar ut dina personuppgifter till den som tillhandahåller sidan. Börsvärlden ansvarar under inga omständigheter för sådan hemsida som tillhör tredje part.</p>
        <h3>Cookie Policy</h3>
        <p>När du använder hemsidan kommer information om användandet att lagras genom cookies. Cookies är passiva textfiler som lagras av webbläsaren i Användarens enhet, såsom dennes dator, mobil eller surfplatta, vid uppkoppling mot hemsidan. Börsvärlden använder cookies för att underlätta Användarens användning av hemsidan samt för att inhämta information såsom exempelvis statistik om din användning av hemsidan. Detta sker i syfte att säkerställa, underhålla och förbättra hemsidan. Mer information om hur vi använder Cookies kan du läsa om i vår <a href="https://borsvarlden.com/information-om-cookies/">cookiepolicy</a>.</p>
        <h3>Ändringar i dataskyddspolicyn</h3>
        <p>Den senaste versionen av dataskyddspolicyn kommer alltid att finnas tillgänglig via hemsidan. Om du har samtyckt till en viss typ av behandling av dina personuppgifter som vi behandlar kommer en ändrad dataskyddspolicy inte att påverka det samtycke du lämnat, om du inte på nytt uttryckligt lämnat samtycke till den förändrade dataskyddspolicyn på något sätt.</p>
        <h3>Mer information</h3>
        <p>Om du vill ha mer information om hur vi behandlar dina personuppgifter, vill rikta ett klagomål mot vår behandling av dina personuppgifter eller i andra fall vill höra av dig, tveka inte att kontakta oss på via mail <a href="mailto:info@borsvarlden.com">info@borsvarlden.com</a></p>
        <p><em>Senast uppdaterad: 2019-03-01</em></p>
        <p>&nbsp;</p></div>
</section>
