
@{
    ViewData["Title"] = "Nyhetsbrev - Börsvärlden";
}

@section Styles{
    <link rel="stylesheet" href="~/css/bv-top-level.css" />
    <link rel="stylesheet" href="~/css/bv-widget-subscribe.css" />
    <link rel="stylesheet" href="~/css/bv-form.css" />
    <link rel="stylesheet" href="~/css/bv-panel.css" />
}

@section StylesTail{
    <link href="https://use.fontawesome.com/12f8fa9933.css" media="all" rel="stylesheet">
}

@section Scripts {
    <script src="~/js/subscribe.js"></script>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<style>
    .container-default {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .body-wrapper {
        background-color: white !important;
    }
</style>

<section class="section-page">
    <div class="container bv-container-page">
        <div class="row sticky-container-right">
            <div id="subscribe-page-content" class="col-xs-12 bv-content-left subscribe-form-description">
                <h1 style="margin-top: 35px">Pro investors. Set title for h1 here</h1>
                <p>Set text here. Set text here. Set text here.</p>
                <h3 style="margin-top: 30px">Set another title here.</h3>
                <p style="margin-top: 15px">Text paragraph 1. Text paragraph 1. Text paragraph 1. Text paragraph 1. Text paragraph 1. Text paragraph 1. Text paragraph 1. Text paragraph 1. </p>
                <p style="margin-top: 16px; margin-bottom: 16px;">Text paragraph 2. Text paragraph 2.Text paragraph 2.Text paragraph 2.Text paragraph 2.Text paragraph 2.Text paragraph 2.Text paragraph 2.</p>
                <div class="bv-widget-subscribe">
                    <div class="bv-widget-subscribe-title"> Börsvärldens nyhetsbrev</div><p>Nyheter, eventinbjudningar och erbjudanden från samarbetspartners – direkt till din inkorg. Helt gratis!</p><form id="subscribe-widget-form-5eb0132bd5c09" class="signup form-flat form-compact" action="//borsvarlden.us8.list-manage.com/subscribe/post?u=4896fc5971b74f114ff713288&amp;id=11540a80d4" method="post" target="_blank" name="mc-embedded-subscribe-form" data-toggle="validator" novalidate="true"><div class="panel panel-default" style="margin-bottom:15px;"><div class="panel-heading"><h4 class="panel-title" style="margin:0;height:39px;line-height:1.3"> <a class="collapsed link-exclude" data-toggle="collapse" data-parent="#single-collapse" href="#single-collapse-5eb0132bd5c09" aria-expanded="false">Samtycke till nyhetsbrev</a></h4></div><div id="single-collapse-5eb0132bd5c09" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;"><div class="panel-body"><p style="font-size:11pt;line-height:150%;"> Jag samtycker till att skriva upp min e-postadress för att få regelbundna nyhetsbrev som också innehåller annonser.</p><p style="font-size:11pt;line-height:150%;"> Vi delar inte med oss av din e-post till andra. Du kommer att få nyhetsbrev tills du inte längre önskar det. Du har rätt att återkalla ditt samtycke när som helst genom att avregistrera din e-post eller kontakta oss på <a href="mailto:info@borsvarlden.com">info@borsvarlden.com</a>. Mer information om hur dina personuppgifter behandlas och vilka rättigheter du har finns i <a href="https://borsvarlden.com/integritetspolicy/" target="_blank">Dataskyddspolicyn</a>, särskilt under “Vad du samtycker till”.</p><div class="form-group margin-bottom-0 margin-top-0"><div class="text-left" style="display: inline-block;"><div class="checkbox margin-bottom-0 margin-top-0"><label style="font-size:11pt;"><input id="checkbox-terms-5eb0132bd5c09" required="" type="checkbox" data-error="Du måste samtycka för att fortsätta">Jag samtycker</label></div></div><div class="help-block with-errors"></div></div></div></div></div><div class="form-group margin-bottom-0" id="asx"><div class="inline-signup"> <input id="mce-EMAIL" class="form-control" name="EMAIL" pattern="^[a-zA-Z0-9_.+-]+@@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required="" type="text" placeholder="E-postadress" data-error="Ange en giltig e-postadress."> <a id="signup-submit-1" class="inline-button button" style="height:40px">JA TACK</a></div><div class="help-block with-errors"></div></div><div style="position: absolute; left: -5000px;"> <input tabindex="-1" name="b_4896fc5971b74f114ff713288_7f53a2c59d" type="text" value=""></div> <input name="SLOC" type="hidden" value="nyhetsbrev"> <input name="SURL" type="hidden" value="https://borsvarlden.com/nyhetsbrev/"> <input id="mce-group[7817]-7817-0" type="checkbox" name="group[7817][1]" value="1" checked="checked" style="display:none!important;"> <input id="mce-group[7889]-7889-0" checked="checked" name="group[7889][128]" type="checkbox" value="128" style="display:none!important;"> <button id="signup-submit" class="inline-button hidden disabled" type="submit" style="pointer-events: all; cursor: pointer;">JA TACK</button></form>
                </div>
            </div><div class="col-xs-12 bv-content-right">
                <div class="sticky-right margin-top-35">
                    <div class="">
                        <div id="id-sidebar-group" class="bv-sidebar-group">
                            <span class="sidebar-label">Senaste nyhetsbreven</span>
                            <script language="javascript" src="//borsvarlden.us8.list-manage.com/generate-js/?u=4896fc5971b74f114ff713288&amp;fid=5037&amp;show=5" type="text/javascript"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

