
@{
    ViewData["Title"] = "Nyhetsbrev - Börsvärlden";
}

@section Styles{
    <link rel="stylesheet" href="~/css/bv-top-level.css" />
    <link rel="stylesheet" href="~/css/bv-widget-subscribe.css" />
    <link rel="stylesheet" href="~/css/bv-form.css" />
    <link rel="stylesheet" href="~/css/bv-panel.css" />
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<section class="section-page">
    <div class="container bv-container-page">
        <div class="row sticky-container-right">
            <div class="col-xs-12 bv-content-left">
                <h1>Prenumerera på våra kostnadsfria nyhetsbrev</h1><p>Vi på nyhetskanalen Börsvärlden har en målsättning att sticka ut i det finansiella mediebruset och ge dig informationen som du inte läser i övrig finansmedia. Vår ambition är inte att vara störst, snabbast eller att konkurrera med de rena nyhetsbyråerna. Med ett team av medarbetare där samtliga har ett brinnande intresse, en djup kännedom och stort kontaktnätverk inom branschen, är vår förhoppning istället att kunna erbjuda ett brett spektrum av information som passar såväl dig som är intresserad av aktiv trading som dig som agerar på längre sikt.</p><h3>Spännande erbjudanden och exklusiva förhandsinbjudningar</h3><p>Som prenumerant på våra kostnadsfria nyhetsbrev säkerställer du att du är först med att erhålla viktig information från oss på Börsvärlden &nbsp;Det kan exempelvis röra sig om erbjudanden från samarbetspartners, men också exklusiva förhandsinbjudningar till event, utbildningskurser, communitys eller nya koncept – där anmälan och registrering i många fall kan vara av starkt tidsbegränsad karaktär.</p><p>Som exempel kan nämnas investerareventturnén <a href="https://borsvarlden.com/artiklar/best-fest-la-grande-finale-har-anmaler-du-dig-till-arets-investerarevent/">BEST FEST!</a> – där några av kvällseventen bokades fulla redan samma dag och tradingcommunityn <a href="~/traders-club/">Traders Club</a>&nbsp;– med hundratals traders som står i kö i väntan på att få ansöka för medlemskap och tillträde.</p><p><em>Med våra nyhetsbrev direkt i din inkorg riskerar du inte att missa någon värdefull information från oss på Börsvärlden!</em></p><div class="bv-widget-subscribe">
                    <div class="bv-widget-subscribe-title"> Börsvärldens nyhetsbrev</div><p>Nyheter, eventinbjudningar och erbjudanden från samarbetspartners – direkt till din inkorg. Helt gratis!</p><form id="subscribe-widget-form-5eb0132bd5c09" class="signup form-flat form-compact" action="//borsvarlden.us8.list-manage.com/subscribe/post?u=4896fc5971b74f114ff713288&amp;id=c2e1e2ec40" method="post" target="_blank" name="mc-embedded-subscribe-form" data-toggle="validator" novalidate="true"><div class="panel panel-default" style="margin-bottom:15px;"><div class="panel-heading"><h4 class="panel-title" style="margin:0;"> <a class="collapsed link-exclude" data-toggle="collapse" data-parent="#single-collapse" href="#single-collapse-5eb0132bd5c09" aria-expanded="false">Samtycke till nyhetsbrev</a></h4></div><div id="single-collapse-5eb0132bd5c09" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;"><div class="panel-body"><p style="font-size:11pt;line-height:150%;"> Jag samtycker till att skriva upp min e-postadress för att få regelbundna nyhetsbrev som också innehåller annonser.</p><p style="font-size:11pt;line-height:150%;"> Vi delar inte med oss av din e-post till andra. Du kommer att få nyhetsbrev tills du inte längre önskar det. Du har rätt att återkalla ditt samtycke när som helst genom att avregistrera din e-post eller kontakta oss på <a href="mailto:info@borsvarlden.com">info@borsvarlden.com</a>. Mer information om hur dina personuppgifter behandlas och vilka rättigheter du har finns i <a href="https://borsvarlden.com/integritetspolicy/" target="_blank">Dataskyddspolicyn</a>, särskilt under “Vad du samtycker till”.</p><div class="form-group margin-bottom-0 margin-top-0"><div class="text-left" style="display: inline-block;"><div class="checkbox margin-bottom-0 margin-top-0"><label style="font-size:11pt;"><input id="checkbox-terms-5eb0132bd5c09" required="" type="checkbox" data-error="Du måste samtycka för att fortsätta">Jag samtycker</label></div></div><div class="help-block with-errors"></div></div></div></div></div><div class="form-group margin-bottom-0" id="asx"><div class="inline-signup"> <input id="mce-EMAIL" class="form-control" name="EMAIL" pattern="^[a-zA-Z0-9_.+-]+@@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required="" type="text" placeholder="E-postadress" data-error="Ange en giltig e-postadress."> <a id="signup-submit-1" class="inline-button button">JA TACK</a></div><div class="help-block with-errors"></div></div><div style="position: absolute; left: -5000px;"> <input tabindex="-1" name="b_4896fc5971b74f114ff713288_7f53a2c59d" type="text" value=""></div> <input name="SLOC" type="hidden" value="nyhetsbrev"> <input name="SURL" type="hidden" value="https://borsvarlden.com/nyhetsbrev/"> <input id="mce-group[7817]-7817-0" type="checkbox" name="group[7817][1]" value="1" checked="checked" style="display:none!important;"> <input id="mce-group[7889]-7889-0" checked="checked" name="group[7889][128]" type="checkbox" value="128" style="display:none!important;"> <button id="signup-submit" class="inline-button hidden disabled" type="submit" style="pointer-events: all; cursor: pointer;">JA TACK</button></form>
                    <script type="text/javascript">
                        (function ($) {
                            $(document).ready(function () {
                                $('#subscribe-widget-form-5eb0132bd5c09 #signup-submit-1').click(function (e) {
                                    e.preventDefault();
                                    $("#subscribe-widget-form-5eb0132bd5c09 #signup-submit").click();
                                    return false;
                                });

                                $('#subscribe-widget-form-5eb0132bd5c09').validator().on('submit', function (e) {
                                    if (e.isDefaultPrevented()) {
                                        // Show terms if checkbox is not checked
                                        if (!$('#checkbox-terms-5eb0132bd5c09').is(":checked")) {
                                            $('#single-collapse-5eb0132bd5c09').collapse('show');
                                        }
                                    } else {
                                        e.preventDefault(); // don't submit multiple times
                                        this.submit(); // use the native submit method of the form element
                                        setTimeout(function () { // Delay for Chrome
                                            $('#subscribe-widget-form-5eb0132bd5c09 #mce-EMAIL').val(''); // blank the input
                                        }, 100);
                                    }
                                })
                            });// End of document ready
                        })(jQuery);</script>
                </div>
            </div><div class="col-xs-12 bv-content-right">
                <div class="sticky-right margin-top-20">
                    <div class="">
                        <div class="bv-sidebar-group">
                            <span class="sidebar-label">Senaste nyhetsbreven</span>
                            <script language="javascript" src="//borsvarlden.us8.list-manage.com/generate-js/?u=4896fc5971b74f114ff713288&amp;fid=5037&amp;show=5" type="text/javascript"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

