<div id="pum-2918" class="pum pum-overlay pum-theme-2916 pum-theme-bv-red popmake-overlay click_open pum-active"
     data-popmake="{&quot;id&quot;:2918,&quot;slug&quot;:&quot;subscribe&quot;,&quot;theme_id&quot;:2916,&quot;cookies&quot;:[{&quot;event&quot;:&quot;on_popup_close&quot;,&quot;settings&quot;:{&quot;name&quot;:&quot;pum-2918&quot;,&quot;key&quot;:&quot;&quot;,&quot;time&quot;:&quot;3 month&quot;,&quot;path&quot;:1}}],&quot;triggers&quot;:[{&quot;type&quot;:&quot;click_open&quot;,&quot;settings&quot;:{&quot;extra_selectors&quot;:&quot;&quot;,&quot;cookie&quot;:{&quot;name&quot;:null}}}],&quot;mobile_disabled&quot;:null,&quot;tablet_disabled&quot;:null,&quot;meta&quot;:{&quot;display&quot;:{&quot;size&quot;:&quot;medium&quot;,&quot;responsive_min_width&quot;:&quot;250&quot;,&quot;responsive_max_width&quot;:&quot;600&quot;,&quot;custom_width&quot;:&quot;640&quot;,&quot;custom_height&quot;:&quot;380&quot;,&quot;animation_type&quot;:&quot;fade&quot;,&quot;animation_speed&quot;:&quot;1200&quot;,&quot;animation_origin&quot;:&quot;center top&quot;,&quot;position_bottom&quot;:&quot;0&quot;,&quot;location&quot;:&quot;center top&quot;,&quot;position_right&quot;:&quot;0&quot;,&quot;position_top&quot;:&quot;50&quot;,&quot;position_left&quot;:&quot;0&quot;,&quot;overlay_zindex&quot;:&quot;1999999998&quot;,&quot;zindex&quot;:&quot;1999999999&quot;,&quot;responsive_min_width_unit&quot;:&quot;px&quot;,&quot;responsive_max_width_unit&quot;:&quot;px&quot;,&quot;custom_width_unit&quot;:&quot;px&quot;,&quot;custom_height_unit&quot;:&quot;px&quot;},&quot;close&quot;:{&quot;text&quot;:&quot;&quot;,&quot;button_delay&quot;:&quot;0&quot;},&quot;click_open&quot;:{&quot;extra_selectors&quot;:&quot;&quot;}}}"
     role="dialog" aria-hidden="false" aria-labelledby="pum_popup_title_2918" style="opacity: 1;z-index: 1999999998;">
    <div id="popmake-2918" class="pum-container popmake theme-2916 pum-responsive pum-responsive-medium responsive size-medium active custom-position">
        <div id="pum_popup_title_2918" class="pum-title popmake-title"> Prenumerera</div>
        <div class="pum-content popmake-content">
            <div class="pum-container-inner">
                <form id="bv-popup-subscribe-form" class="signup form-flat-light form-compact" action="//borsvarlden.us8.list-manage.com/subscribe/post?u=4896fc5971b74f114ff713288&amp;id=c2e1e2ec40" method="post" name="mc-embedded-subscribe-form" target="_blank" data-toggle="validator" novalidate="true">
                    <div class="bv-popup-content-top">
                        <p class="hidden"><img style="margin: 0 auto; width: 50%; height: auto; display: block; margin-bottom: 30px; margin-top: 20px;" src="~/assets/images/popup-letter.png" alt=""></p>
                        <p class="bv-popup-title margin-bottom-10 margin-top-10">Prenumerera på Börsvärldens nyhetsbrev!</p>
                        <p class="margin-bottom-20" style="line-height: 1.2em;text-align:center">Nyheter, eventinbjudningar och erbjudanden från samarbetspartners – direkt till din inkorg.</p>
                        <div class="form-group">
                            <div class="input-group"><input id="mce-EMAIL" class="form-control" name="EMAIL" pattern="^[a-zA-Z0-9_.+-]+@@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required="" type="text" placeholder="E-postadress" data-error="Ange en giltig e-postadress."><br> <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span></div>
                            <div class="help-block with-errors" style="font-size: 11pt;"></div>
                        </div>
                        <div style="position: absolute; left: -5000px;"><input tabindex="0" name="b_4896fc5971b74f114ff713288_7f53a2c59d" type="text" value=""></div>
                        <p class="hidden"><input name="SLOC" type="hidden" value="popup"><input name="SURL" type="hidden" value="https://borsvarlden.com/artiklar/gastanalys-stor-potential-finns-i-nordic-iron-ore/"> <input id="mce-group[7817]-7817-0" style="display: none !important;" checked="checked" name="group[7817][1]" type="checkbox" value="1"><input id="mce-group[7889]-7889-0" style="display: none !important;" checked="checked" name="group[7889][128]" type="checkbox" value="128"></p>
                    </div>
                    <div id="popup-bottom-content" class="bv-popup-content bg-dark">
                        <p style="font-size: 10pt; line-height: 1.3em; font-weight: 300;">Jag samtycker till att skriva upp min e-postadress för att få regelbundna nyhetsbrev som också innehåller annonser.</p>
                        <p style="font-size: 10pt; line-height: 1.3em; font-weight: 300;">Vi delar inte med oss av din e-post till andra. Du kommer att få nyhetsbrev tills du inte längre önskar det. Du har rätt att återkalla ditt samtycke när som helst genom att avregistrera din e-post eller kontakta oss på <a href="mailto:info@borsvarlden.com">info@borsvarlden.com</a>. Mer information om hur dina personuppgifter behandlas och vilka rättigheter du har finns i <a href="https://borsvarlden.com/integritetspolicy/" target="_blank" rel="noopener">Dataskyddspolicyn</a>, särskilt under “Vad du samtycker till”.</p>
                        <div class="form-group margin-bottom-0 margin-top-0">
                            <div class="text-left" style="display: inline-block;">
                                <div class="checkbox margin-bottom-0 margin-top-0"><label><input id="checkbox-terms-popup" required="" type="checkbox" data-error="Du måste samtycka för att fortsätta">Jag samtycker</label></div>
                            </div>
                            <div class="help-block with-errors" style="font-size: 11pt;"></div>
                        </div>
                        <p></p>
                        <div class="signup-wrap">
                            <div class="signup-content"><button class="button button-green article-register-box-submit margin-top-0 disabled" type="submit" style="pointer-events: all; cursor: pointer;">Prenumerera</button></div>
                            <div class="signup-content">
                                <p class="bv-popup-signup-info">Prenumerationen är helt kostnadsfri och kan när som helst avslutas.</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div> <button id="close-popup" type="button" class="pum-close popmake-close" aria-label="Close"> x </button>
    </div>
</div>