@using borsvarlden.Models
@using borsvarlden.ViewModels;
@using borsvarlden.Helpers;
@using NUnit.Framework
@model List<File>;
@{
    ViewData["Title"] = $"Företag";
}

@section Styles{
    <link rel="stylesheet" href="~/css/article.min.css" />
    <link rel="stylesheet" href="~/css/news-list.min.css" />
    <link rel="stylesheet" href="~/css/files.min.css" />
    <link rel="stylesheet" href="https://borsvarlden-banners.azurewebsites.net/revslider/public/assets/css/settings.css" type="text/css" media="all" />
}

@section ScriptsHead {
    <script type="text/javascript" src="https://borsvarlden-banners.azurewebsites.net/assets/js/includes/jquery/jquery.js"></script>
    <script type="text/javascript" src="https://borsvarlden-banners.azurewebsites.net/revslider/public/assets/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="https://borsvarlden-banners.azurewebsites.net/revslider/public/assets/js/jquery.themepunch.revolution.min.js"></script>
}

<div class="row index-row">
    <div class="col-10 index-content-wrapper news-list-banner-parent">
        <div class="column-label annons-label">ANNONS</div>
        @await Component.InvokeAsync("BannerTop")
        <div class="row bv-container-page" style="margin-top: 15px">
            <div class="col-xs-12 bv-content-left">

                @foreach (var item in Model)
                {
                    <div style="margin-bottom:25px">
                        <div class="files-link-wraper">
                            <a href='/Files/RequestFile/@item.Id'>
                                @item.FileHeader
                            </a>
                        </div>
                        <div style="margin-top:10px">
                            @Html.Raw(@item.FileDescription)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-2 index-side-banner-wrapper visible-lg">
        @await Component.InvokeAsync("BannerRight")
    </div>
</div>

@section Scripts{ }
