@{
    ViewData["Title"] = "Job Adverts";
}

<h1>Job Advert</h1>

<div id="articles-grid">

</div>
<script src="//cdn.ckeditor.com/4.14.1/standard-all/ckeditor.js"></script>
<script src="~/js/datagrid-jobadeverts.js"></script>
<script>

</script>