<div class="col-2 index-side-banner-wrapper visible-lg">
    <div class="column-label" style="margin-top: -15px;margin-bottom:3px">ANNONSER</div>
    <a href="https://www.husbysateri.se" target="_blank">
        <img src="~/assets/uploads/2020/05/banner-20200515-skyscraper.gif" width="200" height="400" alt=""/>
    </a>
</div>