@{
    ViewData["Title"] = "Files";
}

<h1>File</h1>

<div id="articles-grid">

</div>
<script src="//cdn.ckeditor.com/4.14.1/standard-all/ckeditor.js"></script>
<script src="~/js/datagrid-files.js"></script>
<script>
 
</script>