@using borsvarlden.ViewModels;
@model List<NewsViewModel>
@{
    int counter = 0;
}

<div class="read-more-body">
    <span class="label read-more-label">
        LÄS MER
    </span>
    <div class="read-more-container row">
        @foreach (var article in Model)
        {
            <div class="read-more-wrapper col-3 @(counter > 0 ? "visible-lg": "")">
                <a href="~/articlar/@Html.Raw(article.TittleSlug)" class="read-more-link">
                    <div class="read-more-image">
                        @if (string.IsNullOrEmpty(article.ImageUrl))
                        {
                            <img src="~/assets/images/borsvarlden_logo_alternative_510x510.png">
                        }
                        @if (!string.IsNullOrEmpty(article.ImageUrl))
                        {
                            <img src="~/@article.ImageUrl">
                        }
                    </div>
                    <div class="read-more-content">
                        <p>@article.Title</p>
                    </div>
                </a>
            </div>
            counter++;
        }
    </div>
</div>
