@using borsvarlden.ViewModels;
@model List<NewsViewModel>

<div class="side-article-body">
    <span class="label side-article-label">
        MEST LÄSTA
    </span>
    <div class="most-read-articles-container">
        @foreach (var article in Model)
        {
            <div class="side-article-wrapper">
                <a href="@Url.Action("DetailedArticle", "Home", new { articleId = article.Id})" class="side-article">
                    <div class="side-article-image">
                        @if (string.IsNullOrEmpty(article.ImageUrl))
                        {
                            <img src="~/assets/images/borsvarlden_logo_alternative_510x510.png">
                        }
                        @if (!string.IsNullOrEmpty(article.ImageUrl))
                        {
                            <img src="~/@article.ImageUrl">
                        }
                    </div>
                    <div class="side-article-content">
                        <p>@article.Title</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

