@using borsvarlden.ViewModels;
@model List<NewsViewModel>

<div class="latest">
    <span class="label latest-label">
        SENASTE
    </span>
    <div class="latest-articles-container">
        @foreach (var article in Model)
        {
            <div class="latest-article-wrapper">
                <a href="~/artiklar/@Html.Raw(article.TittleSlug)" class="latest-article">
                    <div class="latest-date">
                        @(article.Date.Date == DateTime.Today ? article.Date.ToString("HH:mm") : article.Date.ToString("d MMM"))
                    </div>
                    <div class="latest-content">
                        <p>
                            @article.Title
                        </p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

