@using borsvarlden.ViewModels;
@using borsvarlden.Helpers
@model IndexNewsViewModel;

    <div class="index-article-feed">


    @{ int index = 0; }
    @while (Model.News.Count > 0)
    {
        int bannerIndex = index * 2;
        int indexInChunk = 0;
        

        foreach (var news in Model.News)
        {
        <div class="small-block article">
            @await Html.PartialAsync("_GreenTagArticleSmall", news)
        </div>
            indexInChunk++;
        }
      

        Model.News.RemoveRange(0, indexInChunk);
        index++;
    }
    </div>
