<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>borsvarlden</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @* Uncomment to use the HtmlEditor control *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.min.js"></script>

    @* Uncomment to use the Gantt control *@
    @*<link href="~/css/devextreme/dx-gantt.css" rel="stylesheet" />*@

    @* Uncomment to use the Diagram control *@
    @*<link href="~/css/devextreme/dx-diagram.css" rel="stylesheet" />*@

    <link href="~/css/devextreme/bootstrap.css" rel="stylesheet" />

    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />

    @* Predefined themes: https://js.devexpress.com/DevExtreme/Guide/Themes_and_Styles/Predefined_Themes/ *@
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    @* Uncomment to use the Gantt control *@
    @*<script src="~/js/devextreme/dx-gantt.js"></script>*@

    @* Uncomment to use the Diagram control *@
    @*<script src="~/js/devextreme/dx-diagram.js"></script>*@

    <link href="~/css/admin.css" rel="stylesheet" />

    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>
 
    <script src="~/js/devextreme/cldr.js"></script>
    <script src="~/js/devextreme/cldr/event.js"></script>
    <script src="~/js/devextreme/cldr/supplemental.js"></script>
    <script src="~/js/devextreme/cldr/unresolved.js"></script>

    <script src="~/js/devextreme/globalize.js"></script>
    <script src="~/js/devextreme/globalize/message.js"></script>
    <script src="~/js/devextreme/globalize/number.js"></script>
    <script src="~/js/devextreme/globalize/currency.js"></script>
    <script src="~/js/devextreme/globalize/date.js"></script>

    @* Uncomment to enable client-side export *@
    @*<script src="~/js/devextreme/jszip.js"></script>*@

    <script src="~/js/devextreme/dx.all.js"></script>

    @* Uncomment to provide geo-data for the VectorMap control *@
    @* Docs: https://js.devexpress.com/DevExtreme/Guide/Widgets/VectorMap/Providing_Data/#Data_for_Areas *@
    @*<script src="~/js/devextreme/vectormap-data/world.js"></script>*@
  
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-dark">
            <div class="container nav-container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="navbar-logo" src="~/assets/images/header-logo-white.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="#">Articles</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="body-wrapper">
        <div class="container container-default">
            <script type='text/javascript'>
                function AreYouSureFunction() {
                    //Prompt for confirmation
                    if (confirm("Are you sure?")) {
                        //Your AJAX call that corresponds with the href attribute of your link
                        $.ajax({
                            type: "POST",
                            url: '/Admin/Home/ClearCache/',
                            success: function (resultData) {
                                alert('Done!');
                            }
                        });
                        //This prevents the default behavior of the actual link (it will hit your controller action)
                        return false;
                    }
                    else {
                        //Unconfirmed - cancel any further actions
                        return false;
                    }
                }
            </script>
            
            <div style="margin-top:7px;margin-bottom:5px">
                <a href='/Admin'>Articles</a>
                &nbsp;&nbsp;

                <a href='/Admin/Companies'>Companies</a>
                &nbsp;&nbsp;
                <a href='/Admin/JobAdverts'>Job Adverts</a>

                &nbsp;&nbsp;
                <a href='/Admin/StaticPages'>Static Pages</a>

                &nbsp;&nbsp;
                <a href='/Admin/Files'>Files</a>

                &nbsp;&nbsp;
                <a href="#" onclick="return AreYouSureFunction();">Clear Cache</a>

                &nbsp;&nbsp;
                <a href='~/Home/SubscribePopupPreview'>Subscribe preview popup</a>

                &nbsp;&nbsp;
                <a href='~/Home/SplashAdPreview'>Splash ad preview popup</a>
            </div>

            @RenderBody()
        </div>
    </div>
</body>
</html>
