<!-- Subscribe box -->
    <div class="bv-widget-subscribe widget-sidebar">
        <div class="bv-widget-subscribe-title">
            Börsvärldens nyhetsbrev
        </div>

        <form id="sidebar-widget-form-" class="signup form-flat form-compact" action="//borsvarlden.us8.list-manage.com/subscribe/post?u=4896fc5971b74f114ff713288&amp;id=c2e1e2ec40" method="post" target="_blank" name="mc-embedded-subscribe-form" data-toggle="validator">

            <div class="panel panel-default flat-inverted">
                <div class="panel-heading">
                    <h4 class="panel-title" style="margin:0;">
                        <a class="link-exclude collapsed" data-toggle="collapse" data-parent="#single-collapse" href="#single-collapse-" aria-expanded="false">Samtycke till nyhetsbrev</a>
                    </h4>
                </div>
                <div id="single-collapse-" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body pl-0">
                        <p>
                            Jag samtycker till att skriva upp min e-postadress för att få regelbundna nyhetsbrev som också innehåller annonser.
                        </p>
                        <p>
                            Vi delar inte med oss av din e-post till andra. Du kommer att få nyhetsbrev tills du inte längre önskar det. Du har rätt att återkalla ditt samtycke när som helst genom att avregistrera din e-post eller kontakta oss på
                            <a href="mailto: info@borsvarlden.com"> info@borsvarlden.com</a>. Mer information om hur dina personuppgifter behandlas och vilka rättigheter du har finns i <a href="integritetspolicy" target="_blank">Dataskyddspolicyn</a>, särskilt under “Vad du samtycker till“.
                        </p>
                        <div class="form-group margin-bottom-0 margin-top-0">
                            <div class="text-left" style="display: inline-block;">
                                <div class="checkbox margin-bottom-0 margin-top-0"><label><input id="checkbox-terms-" required="" type="checkbox" data-error="Du måste samtycka för att fortsätta" />Jag samtycker</label></div>
                            </div>
                            <div class="help-block with-errors"><!-- empty --></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- E-mail -->
            <div class="form-group margin-bottom-0" id="asx">
                <div class="inline-signup">
                    <input id="mce-EMAIL" class="form-control" name="EMAIL" pattern="^[a-zA-Z0-9_.+-]+@@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required type="text" placeholder="E-postadress" data-error="Ange en giltig e-postadress." />
                    <a id="signup-submit-1" class="inline-button button">JA TACK</a>
                </div>
                <div class="help-block with-errors help-white"><!-- empty --></div>
            </div>

            <!-- Robot buster -->
            <div style="position: absolute; left: -5000px;">
                <input tabindex="-1" name="b_4896fc5971b74f114ff713288_7f53a2c59d" type="text" value="" />
            </div>
            <!-- Extra fields -->
            <input name="SLOC" type="hidden" value="sidebar" />
            <input name="SURL" type="hidden" value="<?php echo do_shortcode('[permalink_href]'); ?>" />
            <!-- A -->
            <input id="mce-group[7817]-7817-0" type="checkbox" name="group[7817][1]" value="1" checked="checked" style="display:none!important;">
            <!-- Prenumerationer -->
            <input id="mce-group[7889]-7889-0" checked="checked" name="group[7889][128]" type="checkbox" value="128" style="display:none!important;" />

            <button id="signup-submit" class="inline-button hidden" type="submit">JA TACK</button>
        </form>
       
    </div>
<!-- /Subscribe box -->