@using borsvarlden.ViewModels;
@model NewsViewModel;

<a href="~/articlar/@Html.Raw(Model.TittleSlug)">
    <div class="image-wrapper">
        @if (string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="~/assets/images/borsvarlden_logo_alternative_510x510.png">
        }
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="~/@Model.ImageUrl">
        }
    </div>
    <div class="article-content-wrapper">
        <span class="label article-label d-block d-sm-none">
            @Model.Label
        </span>
        <h3>
            @Model.Title
        </h3>
        <p class="hidden-small max-2-lines d-none d-sm-block">
            <span class="label article-label">
                @Model.Label
            </span>
            <span class="article-content">
                @Html.Raw(Model.Subtitle)
            </span>
        </p>
    </div>
</a>
