<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - borsvarlden</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,800italic,700,700italic,600italic,600,400italic,300,300italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/side-aricles.css" />
    <link rel="stylesheet" href="~/css/latest.css" />
    <link rel="stylesheet" href="~/css/detailed.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-red-main box-shadow">
            <div class="container nav-container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="navbar-logo" src="~/assets/images/header-logo-white.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Om Börsvärlden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Nyhetsbrev</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Traders Club</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="body-wrapper">
        <div class="container container-default">
            @RenderBody()
        </div>
    </div>
    <footer class="border-top footer bg-gray-main">
        <div class="container">
            <div class="row footer-main">
                <div class="col-sm-3 text-center-xs text-left-sm footer-col">
                    <h3>
                        Navigation
                    </h3>
                </div>
                <div class="col-sm-3 text-center-xs text-left-sm footer-col">
                    <h3>
                        Länkar
                    </h3>
                </div>
                <div class="col-sm-3 text-center-xs text-left-sm footer-col">
                    <h3>
                        Kontaktuppgifter
                    </h3>
                    <p>
                        Börsvärlden
                        <br>
                        Taptogatan 6
                        <br>
                        115 27 Stockholm
                    </p>
                    <p>
                        <a href="mailto:info@borsvarlden.com">info@borsvarlden.com</a>
                        <br>
                        <a href="#">www.borsvarlden.com</a>
                    </p>
                </div>
                <div class="col-sm-3 text-center-xs text-left-sm">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/assets/images/borsvarlden_logo_alternative_510x510.png" class="footer-logo" width="128" height="128">
                    </a>
                </div>
            </div>
            <div class="separator"></div>
            <div class="row footer-copyright">
                <div class="col-sm-12 text-center-xs text-left-sm">
                    <p>Copyright © 2020<br>Allt material är upphovsrättsskyddat enligt lag</p>
                </div>
            </div>
        </div>
    </footer>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css">
    <script src="https://kit.fontawesome.com/2614cd82a6.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
