<div class="social-buttons">
    <ul class="social-buttons-list">
        <li class="facebook">
            <i class="fa fa-facebook color-white"></i>
        </li>
        <li class="twitter">
            <i class="fa fa-twitter color-white"></i>
        </li>
        <li class="email">
            <i class="fa fa-envelope color-white"></i>
        </li>
    </ul>
</div>