@using borsvarlden.Models;
@model StaticPage

<div class="top-banner-wraper">
    <div class="splashscreen-overlay" id="splashscreen-overlay" style="display: none">
        <div class="ad-splash-cross" id="ad-splash-cross">
            <i class="fas fa-times"></i>
        </div>
        <div class="splashscreen-content">
            <img src="/assets/images/header-logo-white.png">
            <div class="ad-banner-text" id="ad-banner-text">
                @Html.Raw(Model.Text)
            </div>
        </div>
    </div>
</div>
