@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 1020px) {
    .container {
        width: 1020px;
    }
}

@media (min-width: 1250px) {
    .container {
        width: 1250px;
    }
}

@media (min-width: 1020px) {
    .container-default {
        min-width: 1250px;
    }
}

.navbar {
    min-height: 50px
}

.bg-red-main {
    background-color: #f44336;
}

.bg-gray-main {
    background-color: #263238;
}

.navbar-logo {
    width: 164px;
    height: 32px;
}

.navbar-expand-sm .navbar-nav {
    flex-direction: row-reverse;
}
