.article:not(:first-child) {
    border-top: 1px solid #e0e0e0;
}

.article {
    display: grid;

    .image-wrapper img {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    a {
        margin: 20px 0;
    }

    a:hover h3 {
        text-decoration: underline;
    }

    .article-label {
        margin-right: 10px;
        font-size: 11pt;
    }

    h3 {
        font-size: 15pt;
        line-height: 1.4em;
        font-weight: 700;
        margin-bottom: 0;
    }

    p {
        font-size: 16px;
        line-height: 1.5em;
    }

    .article-content-wrapper {
        .hidden-small {
            padding-top: 10px;
        }
    }
}
