#pum-2918 {
    display: none; }

#popmake-2918 {
    min-width: 250px;
    max-width: 600px;
    height: 487.656px;
    top: 50px;
    left: 50%;
    transform: translateX(50%);
    opacity: 1; }

#mce-EMAIL {
    width: 100%;
    height: 34px;
    padding-top: 6px;
    padding-bottom: 6px; }

#popup-bottom-content {
    background-color: #263238 !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

.fa-fw {
    width: 1.28571429em;
    text-align: center; }

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.pum-content.popmake-content {
    height: 100%; }

.pum-container-inner {
    height: 100%; }

.bv-popup-subscribe-form {
    height: 100%; }

.bv-popup-content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px; }

.input-group {
    position: relative;
    display: table;
    border-collapse: separate; }

.input-group-addon {
    width: 18px;
    height: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px; }

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }

.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell; }

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0; }

.form-flat-light input {
    border-radius: 0;
    border-width: 0;
    border-color: #fff;
    box-shadow: none !important;
    -webkit-box-shadow: none !important; }

.form-control {
    font-size: 16px; }

.button-green {
    border-radius: 5px; }

.pum-content form a {
    text-decoration: underline; }

.form-flat-light a {
    color: #fff; }

.popup-bottom-content a, .popup-bottom-content a:hover, .popup-bottom-content a:visited, .popup-bottom-content a:active, .popup-bottom-content a:focus {
    color: #0277bd; }

form#bv-popup-subscribe-form {
    height: 100% !important; }

.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle; }

.pum-open.pum-open-overlay.pum-open-scrollable .pum-overlay.pum-active {
    overflow-y: auto;
    overflow-x: hidden; }

html.pum-open.pum-open-overlay.pum-open-scrollable .pum-overlay.pum-active {
    overflow-y: scroll; }

html.pum-open.pum-open-overlay.pum-open-scrollable body > [aria-hidden] {
    padding-right: 0; }

html.pum-open.pum-open-overlay.pum-open-scrollable body > [aria-hidden] {
    padding-right: 15px; }

.pum-theme-2678, .pum-theme-2916, .pum-theme-test {
    background-color: rgba(0, 0, 0, 0.6); }

.pum-overlay, .pum-overlay *, .pum-overlay ::after, .pum-overlay ::before, .pum-overlay::after, .pum-overlay::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.pum-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1999999999;
    overflow: initial;
    display: block;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }

.pum-container, .pum-content, .pum-content + .pum-close, .pum-content + .pum-close:active, .pum-content + .pum-close:focus, .pum-content + .pum-close:hover, .pum-overlay, .pum-title {
    background: 0 0;
    background-color: transparent;
    border: none;
    bottom: auto;
    clear: none;
    cursor: default;
    float: none;
    font-family: inherit;
    font-size: medium;
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: auto;
    letter-spacing: normal;
    line-height: normal;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    overflow: visible;
    position: static;
    right: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    top: auto;
    visibility: visible;
    white-space: normal;
    width: auto;
    z-index: auto; }

.pum-overlay, .pum-overlay *, .pum-overlay ::after, .pum-overlay ::before, .pum-overlay::after, .pum-overlay::before {
    box-sizing: border-box; }

.pum-container, .pum-content, .pum-content + .pum-close, .pum-content + .pum-close:active, .pum-content + .pum-close:focus, .pum-content + .pum-close:hover, .pum-overlay, .pum-title {
    background: 0 0;
    border: none;
    bottom: auto;
    clear: none;
    cursor: default;
    float: none;
    font-family: inherit;
    font-size: medium;
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: auto;
    letter-spacing: normal;
    line-height: normal;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    overflow: visible;
    position: static;
    right: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    top: auto;
    visibility: visible;
    white-space: normal;
    width: auto;
    z-index: auto; }

.pum-theme-2678 .pum-container, .pum-theme-2916 .pum-container, .pum-theme-test .pum-container {
    padding: 0;
    background-color: transparent; }

.pum-container.custom-position {
    left: auto;
    top: auto;
    margin-left: inherit; }

.pum-container.pum-responsive {
    left: 50%;
    margin-left: -47.5%;
    width: 95%;
    height: auto;
    overflow: visible; }

.pum-container.pum-responsive {
    left: 50%;
    margin-left: -47.5%;
    width: 95%;
    height: auto;
    overflow: visible; }

.pum-container {
    top: 100px;
    position: absolute;
    margin-bottom: 3em;
    z-index: 1999999999; }

.pum-theme-2678 .pum-title, .pum-theme-2916 .pum-title, .pum-theme-test .pum-title {
    padding: 30px 30px 0;
    color: #fff;
    text-align: left;
    text-shadow: 0px 0px 0px rgba(2, 2, 2, 0.23);
    font-family: inherit;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600; }

.pum-theme-2678 .pum-title, .pum-theme-2678 .popmake-title, .pum-theme-2916 .pum-title, .pum-theme-2916 .popmake-title, .pum-theme-test .pum-title, .pum-theme-test .popmake-title {
    display: none; }

.pum-container .pum-content + .pum-close > span, .pum-content, .pum-title {
    position: relative;
    z-index: 1; }

.pum-theme-2678 .pum-content, .pum-theme-2916 .pum-content, .pum-theme-test .pum-content {
    color: #fff;
    font-family: inherit; }

.pum-container .pum-content + .pum-close > span, .pum-content, .pum-title {
    position: relative;
    z-index: 1; }

.pum-container .pum-content > :last-child {
    margin-bottom: 0; }

.bv-popup-content-top {
    background-color: #f44336;
    background-image: url(/assets/images/popup-bg-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 30px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }

bv-popup-content-top p {
    text-align: center; }

.hidden {
    display: none !important; }

.bv-popup-title {
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.23);
    font-family: inherit;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    line-height: 115%; }

.margin-bottom-10 {
    margin-bottom: 10px !important; }

.margin-top-10 {
    margin-top: 10px !important; }

p {
    margin: 0 0 10px;
    margin-top: 0px;
    margin-bottom: 10px; }

p {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 1em; }

.margin-bottom-20 {
    margin-bottom: 20px !important; }

.form-group {
    margin-bottom: 15px; }

@media only screen and (min-width: 1024px) {
    .pum-container.pum-responsive.pum-responsive-nano {
        margin-left: -5%;
        width: 10%; }
    .pum-container.pum-responsive.pum-responsive-micro {
        margin-left: -10%;
        width: 20%; }
    .pum-container.pum-responsive.pum-responsive-tiny {
        margin-left: -15%;
        width: 30%; }
    .pum-container.pum-responsive.pum-responsive-small {
        margin-left: -20%;
        width: 40%; }
    .pum-container.pum-responsive.pum-responsive-medium {
        margin-left: -30%;
        width: 60%; }
    .pum-container.pum-responsive.pum-responsive-normal {
        margin-left: -30%;
        width: 70%; }
    .pum-container.pum-responsive.pum-responsive-large {
        margin-left: -35%;
        width: 80%; }
    .pum-container.pum-responsive.pum-responsive-xlarge {
        margin-left: -47.5%;
        width: 95%; }
    .pum-container.pum-responsive.pum-position-fixed {
        position: fixed; } }

/* Reset Overlay, Container, Title, Content(div) & Close button */
.pum-overlay,
.pum-container,
.pum-title,
.pum-content,
.pum-content + .pum-close,
.pum-content + .pum-close:hover,
.pum-content + .pum-close:focus,
.pum-content + .pum-close:active {
    background: none;
    border: none;
    bottom: auto;
    clear: none;
    cursor: default;
    /* didn't really know what the default for display should be*/
    /*display:inline;*/
    float: none;
    font-family: inherit;
    font-size: medium;
    font-style: normal;
    font-weight: normal;
    height: auto;
    left: auto;
    letter-spacing: normal;
    line-height: normal;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    overflow: visible;
    position: static;
    right: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    top: auto;
    visibility: visible;
    white-space: normal;
    width: auto;
    z-index: auto; }

.pum-title,
.pum-content {
    position: relative;
    z-index: 1; }

.pum-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1999999999;
    overflow: auto;
    overflow: initial;
    display: none;
    transition: all .15s ease-in-out;
    /**
  * Use border-box for all popup content. Providing more precise sizing.
  */ }

.pum-overlay.pum-preview, .pum-overlay.pum-form-submission-detected {
    display: block; }

.pum-overlay, .pum-overlay:before, .pum-overlay:after,
.pum-overlay *, .pum-overlay *:before, .pum-overlay *:after {
    /* Safari/Chrome, other WebKit */
    /* Firefox, other Gecko */
    box-sizing: border-box; }

.pum-container {
    top: 100px;
    position: absolute;
    margin-bottom: 3em;
    z-index: 1999999999; }

.pum-container.pum-responsive {
    left: 50%;
    margin-left: -47.5%;
    width: 95%;
    height: auto;
    overflow: visible; }

.pum-container.pum-responsive img {
    max-width: 100%;
    height: auto; }

@media only screen and (min-width: 1024px) {
    .pum-container.pum-responsive.pum-responsive-nano {
        margin-left: -5%;
        width: 10%; }
    .pum-container.pum-responsive.pum-responsive-micro {
        margin-left: -10%;
        width: 20%; }
    .pum-container.pum-responsive.pum-responsive-tiny {
        margin-left: -15%;
        width: 30%; }
    .pum-container.pum-responsive.pum-responsive-small {
        margin-left: -20%;
        width: 40%; }
    .pum-container.pum-responsive.pum-responsive-medium {
        margin-left: -30%;
        width: 60%; }
    .pum-container.pum-responsive.pum-responsive-normal {
        margin-left: -30%;
        width: 70%; }
    .pum-container.pum-responsive.pum-responsive-large {
        margin-left: -35%;
        width: 80%; }
    .pum-container.pum-responsive.pum-responsive-xlarge {
        margin-left: -47.5%;
        width: 95%; }
    .pum-container.pum-responsive.pum-position-fixed {
        position: fixed; } }

@media only screen and (max-width: 1024px) {
    .pum-container.pum-responsive.pum-position-fixed {
        position: absolute; } }

.pum-container.custom-position {
    left: auto;
    top: auto;
    margin-left: inherit; }

.pum-container .pum-content > :last-child {
    margin-bottom: 0; }

.pum-container .pum-content + .pum-close {
    text-decoration: none;
    text-align: center;
    line-height: 1;
    position: absolute;
    cursor: pointer;
    min-width: 1em;
    z-index: 2; }

.pum-container .pum-content + .pum-close > span {
    position: relative;
    z-index: 1; }

.pum-container.pum-scrollable .pum-content {
    overflow: auto;
    overflow-y: scroll;
    max-height: 95%; }

.pum-overlay-disabled {
    visibility: hidden; }

.pum-overlay-disabled::-webkit-scrollbar {
    display: block; }

.pum-overlay-disabled .pum-container {
    visibility: visible; }

html.pum-open.pum-open-overlay {
    overflow: hidden; }

html.pum-open.pum-open-overlay.pum-open-fixed .pum-overlay {
    overflow: hidden; }

html.pum-open.pum-open-overlay.pum-open-fixed .pum-container {
    position: fixed; }

html.pum-open.pum-open-overlay.pum-open-scrollable body > *[aria-hidden] {
    padding-right: 15px; }

html.pum-open.pum-open-overlay.pum-open-scrollable .pum-overlay.pum-active {
    overflow-y: scroll; }

html.pum-open.pum-open-overlay-disabled.pum-open-fixed .pum-container {
    position: fixed; }

html.pum-open.pum-open-overlay-disabled.pum-open-scrollable .pum-overlay.pum-active {
    position: static;
    height: auto;
    width: auto; }

.pum-container iframe.formidable {
    width: 100%;
    overflow: visible; }

body div#ui-datepicker-div[style] {
    z-index: 9999999999 !important; }

.pika-single {
    z-index: 9999999999 !important; }

/* NF DatePicker Fix */
.pika-single {
    z-index: 19999999999; }

/** Backward Compatibility */
.popmake-close {
    cursor: pointer; }

.pum-theme-2678 .pum-content + .pum-close, .pum-theme-2916 .pum-content + .pum-close, .pum-theme-test .pum-content + .pum-close {
    height: 40px;
    width: 40px;
    left: auto;
    right: -15px;
    bottom: auto;
    top: -15px;
    padding: 12px;
    color: #222;
    font-family: inherit;
    font-size: 0;
    line-height: 0;
    font-weight: 900;
    border: 1px none #fff;
    border-radius: 30px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.34);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.23);
    background-color: #222;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none; }

.pum-container .pum-content + .pum-close {
    text-decoration: none;
    text-align: center;
    line-height: 1;
    position: absolute;
    cursor: pointer;
    min-width: 1em;
    z-index: 2; }

.pum-theme-2678 .pum-content + .pum-close::before, .pum-theme-2916 .pum-content + .pum-close::before, .pum-theme-test .pum-content + .pum-close::before {
    content: "\f00d";
    position: absolute;
    font-family: FontAwesome;
    top: 0;
    right: 0;
    display: block;
    left: 0;
    bottom: 0;
    color: #555;
    font-size: 20px;
    line-height: 40px; }

::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.pum-theme-2678 .pum-content + .pum-close, .pum-theme-2916 .pum-content + .pum-close, .pum-theme-test .pum-content + .pum-close {
    color: #222;
    font-family: inherit;
    font-size: 0;
    line-height: 0;
    font-weight: 900;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.23); }

.pum-container .pum-content + .pum-close {
    text-align: center;
    line-height: 1;
    cursor: pointer; }

.pum-theme-2678, .pum-theme-2916, .pum-theme-test {
    background-color: rgba(0, 0, 0, 0.6); }

form input[type=submit], form.signup button[type=submit] {
    border: none;
    width: auto;
    display: inline-block;
    cursor: pointer;
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    padding: 16px 28px;
    margin: 10px 10px 0 0;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    outline: 0 !important;
    text-transform: uppercase; }

.bv-popup-content .signup-content button {
    margin-right: 30px !important; }

.pum-overlay, .pum-overlay *, .pum-overlay :after, .pum-overlay :before, .pum-overlay:after, .pum-overlay:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.button-green, .button-green:visited, .button-green:focus, .button-green:active {
    background: #00c853; }

.button, .button:visited, .button:focus, .button:active, .button:hover {
    color: #fff;
    text-decoration: none !important; }

.bv-popup-content .signup-wrap {
    display: table;
    width: 100%; }

.bv-popup-content .signup-content {
    display: table-cell; }

.bv-popup-content .signup-content {
    display: table-cell; }

.bv-popup-content .signup-content p {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    font-size: 10pt;
    font-weight: 300;
    line-height: 115%;
    color: rgba(255, 255, 255, 0.6); }

.form-flat-light .input-group-addon {
    border-color: #fff;
    border-width: 0;
    background-color: #eee;
    border-radius: 0;
    color: #888; }

.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell; }

.input-group {
    position: relative;
    display: table;
    border-collapse: separate; }

.form-flat-light .input-group-addon {
    border-color: #fff;
    border-width: 0;
    background-color: #eee;
    border-radius: 0;
    color: #888; }

.input-group-addon:last-child {
    border-left: 0; }

fa-fw {
    width: 1.28571429em;
    text-align: center; }

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.pum-content form a {
    text-decoration: underline; }

.form-flat-light a {
    color: #fff; }
