.bv-widget-subscribe {
    margin: 20pt 0;
    background-color: #f0f0f0;
    padding: 20px;
    color: #505050;
}

.bv-widget-subscribe.widget-sidebar {
    background-color: #f44336;
    padding: 15px;
    margin: 20px 0 0 !important;
}

.bv-widget-subscribe.widget-sidebar .bv-widget-subscribe-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 10pt;
    margin-bottom: 10px;
}

.bv-widget-subscribe .bv-widget-subscribe-title {
    color: #202020;
    font-weight: 600;
    font-size: 11pt;
    margin-bottom: 5px;
}

.bv-widget-subscribe.widget-sidebar .panel .panel-heading {
    background-color: transparent;
}

.bv-widget-subscribe.widget-sidebar .panel {
    background-color: transparent;
    color: #fff;
    margin-bottom: 10px;
}

.bv-widget-subscribe.widget-sidebar .panel h4 {
    font-size: 10pt;
}

.bv-widget-subscribe .panel-default h4 {
    font-size: 11pt;
}

.bv-widget-subscribe.widget-sidebar .panel .panel-title > a.collapsed:hover, .bv-widget-subscribe.widget-sidebar .panel .panel-title > a.collapsed:visited {
    color: #fff;
    text-decoration: none;
}

.bv-widget-subscribe.widget-sidebar .panel .panel-title > a.collapsed {
    color: #fff;
}

.bv-widget-subscribe.widget-sidebar .panel a, .bv-widget-subscribe.widget-sidebar .panel a:hover, .bv-widget-subscribe.widget-sidebar .panel a:visited, .bv-widget-subscribe.widget-sidebar .panel a:active {
    color: #fff;
    font-weight: 500;
}

.bv-widget-subscribe.widget-sidebar .panel .panel-title > a {
    color: #fff;
    border-left: none;
    background-color: rgba(255,255,255,.2);
}

.bv-widget-subscribe.widget-sidebar button[type=submit], .bv-widget-subscribe.widget-sidebar button[type=button], .bv-widget-subscribe.widget-sidebar .inline-button {
    background-color: #fff;
    color: #f44336;
}

.bv-widget-subscribe .inline-signup button[type=submit], .bv-widget-subscribe .inline-signup button[type=button], .bv-widget-subscribe .inline-signup .inline-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
}

.bv-widget-subscribe button[type=submit], .bv-widget-subscribe button[type=button], .bv-widget-subscribe .inline-button {
    position: relative;
    margin: 10px 0 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    padding: 12px;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f44336;
    color: #fff;
    font-size: 11pt;
    line-height: 100%;
}

.bv-widget-subscribe.widget-sidebar .panel .has-error .help-block, .bv-widget-subscribe.widget-sidebar .panel .has-error .control-label, .bv-widget-subscribe.widget-sidebar .panel .has-error .radio, .bv-widget-subscribe.widget-sidebar .panel .has-error .checkbox, .bv-widget-subscribe.widget-sidebar .panel .has-error .radio-inline, .bv-widget-subscribe.widget-sidebar .panel .has-error .checkbox-inline, .bv-widget-subscribe.widget-sidebar .panel .has-error.radio label, .bv-widget-subscribe.widget-sidebar .panel .has-error.checkbox label, .bv-widget-subscribe.widget-sidebar .panel .has-error.radio-inline label, .bv-widget-subscribe.widget-sidebar .panel .has-error.checkbox-inline label {
    color: #fff;
}


.bv-widget-subscribe a {
    text-decoration: underline;
}

.bv-widget-subscribe a {
    text-decoration: underline;
}

.bv-widget-subscribe input[type=text] {
    height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    padding-left: 15px;
    width: 100%;
    margin-right: 15px;
    font-size: 11pt;
}

.bv-widget-subscribe.widget-sidebar .help-block ul li {
    color: #fff;
}

.bv-widget-subscribe .help-block ul li {
    margin: 10px 0 0;
    color: #f44336;
    font-size: 11pt;
}

.bv-widget-subscribe .help-block {
    margin-top: 0;
    margin-bottom: 0;
}

bv-widget-subscribe input[type=checkbox] {
    margin-top: 4px;
}

.bv-widget-subscribe a {
    text-decoration: underline;
}

.bv-widget-subscribe.widget-sidebar p {
    font-size: 10pt;
    color: #fff !important;
}


a:not([href]):not([tabindex]) {
    color: #fff;
    text-decoration: none;
}
