.index-side-banner {
    padding: 5px; }

.index-content-wrapper {
    padding: 5px; }

.index-side-banner-wrapper {
    padding: 5px; }
    .index-side-banner-wrapper img {
        width: 100%;
        height: auto; }

.stiky-side-banner {
    padding-top: 10px;
    position: sticky;
    top: 50px; }

.index-row {
    padding-left: 15px;
    padding-right: 15px; }

.banner-wrapper {
    padding-bottom: 15px; }
    .banner-wrapper img {
        height: 100%;
        width: 100%; }

.big-block .hidden-big {
    display: none; }

.small-block .hidden-small {
    display: none; }

.small-block .image-wrapper {
    width: 168px;
    height: 94px;
    float: left;
    overflow: hidden;
    padding: 0; }
    .small-block .image-wrapper img {
        padding-left: 10px;
        padding-right: 10px; }

@media (max-width: 768px) {
    .content-right {
        display: none; }
    .content-main {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%; } }

@media (min-width: 768px) {
    .content-botom-hidden {
        display: none; } }
