.index-side-banner {
    padding: 5px;
}

.index-content-wrapper {
    padding-right: 15px;
}

.index-row {
    margin-left: -15px;
    margin-right: -15px;
}

.banner-wrapper {
    display: inline-flex;
    max-width: 960px;
    max-height: 200px;

    img {
        height: 100%;
        width: 100%;
    }
}

.index-content-row {
    padding-top: 25px;
}

.button-red:hover {
    background: #f57f17;
    color: #fff;
}

.button {
    width: auto;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    color: #fff;
    padding: 16px 28px;
    margin: 10px 10px 0 0;
    font-size: 16px;
    font-weight: 600;
    outline: 0 !important;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
}
