.related-news {
    padding-top: 25.667px; }
    .related-news-date {
        float: left;
        width: 55px; }
        .related-news-date p {
            font-size: 10pt;
            font-weight: 600; }
    .related-news-label {
        font-size: 14.6667px;
        display: block;
        margin-bottom: 10px;
        border-bottom: 2px solid #f44336; }
    .related-news-article {
        color: #222;
        margin-top: 10px; }
    .related-news-wrapper a:hover .related-news-content p {
        text-decoration: underline; }
    .related-news-wrapper:not(:first-child) {
        border-top: 1px solid #e0e0e0;
        padding-top: 6px; }
    .related-news-content {
        padding-left: 55px; }
        .related-news-content p {
            margin-bottom: 6px; }
