.side-article-image {
    width: 84px;
    height: 47px;
    float: left;
    overflow: hidden;

    img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

.side-article-wrapper:not(:first-child) {
    border-top: 1px solid #e0e0e0;
}

.side-article {
    margin: 10px 0;
    color: #222;
}

.side-article-label {
    color: #f44336;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10pt;
    display: block;
    margin-bottom: 10px;
    border-bottom: 2px solid #f44336;
}

.side-article-body {
    margin-bottom: 20px;
}
