body {
    color: #222;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-size: 10pt;
    line-height: 1.6em;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    min-width: 270px;
    min-height: 50px;
    color: white;
    z-index: 9999;
    line-height: 20px;
    padding: 0;

    .navbar-toggler {
        margin-right: 15px;
    }

    .navbar-brand {
        margin-right: 0;
    }
}

.navbar-toggler {
    border: none;
    background: 0 0 !important;
}

.bg-red-main {
    background-color: #f44336;
}

.bg-gray-main {
    background-color: #263238;
}

.color-white {
    color: white;
}

.navbar-logo {
    width: 164px;
    height: 32px;
}

.navbar-expand-md .navbar-nav {
    flex-direction: row-reverse;
}

.navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;

    a {
        padding: 0 !important;
        line-height: 20px;
        border-bottom: 2px solid transparent;
        
        &:hover {
            border-bottom: 2px solid white;
        }
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    min-height: 450px;
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    padding-top: 20px;
    padding-bottom: 40px;
    color: #fff;

    p {
        font-size: 10pt;
        line-height: 130%;
        font-weight: 300;
        color: #cfd8dc;
    }

    a {
        color: #cfd8dc;
    }

    .footer-col {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.footer-col a:hover {
    text-decoration: underline;
    color: #cfd8dc;
}

a {
    text-decoration: none;
    color: #222;
}

a:hover {
    text-decoration: none;
    color: #222;
}

.body-container p a:not(.button), .bv-container-page p a:not(.button) {
    font-weight: 700;
    text-decoration: underline;
    color: #0277bd;
}

h1 {
    font-size: 36px;
    line-height: 130%;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-logo {
    width: 100%;
    max-width: 256px;
    height: auto;
}

.footer-main {
    padding-bottom: 15px;

    h3 {
        font-size: 14px;
        line-height: 115%;
        font-weight: 700;
        margin-bottom: 10px;
        text-transform: uppercase;
        margin-top: 30px;
    }
}

.footer-copyright {
    width: 100%;

    p {
        font-size: 12px;
        line-height: 115%;
        color: #b0bec5;
    }
}

.separator {
    margin: 15px 0;
    border-bottom: 1px solid #37474f;
}

.body-wrapper {
    background-color: #f0f0f0;
    padding-top: 50px;
}

.container-default {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-container.container {
    padding-right: 15px;
}

.button-red {
    background: #f44336;
}

.label {
    color: #f44336;
    font-weight: 700;
    text-transform: uppercase;
}

.column-label {
    color: #aeaaaa;
    font-size: 8pt;
    text-transform: uppercase;
}

.index-side-banner-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.big-block {
    .hidden-big {
        display: none;
    }
}

.small-block {
    .hidden-small {
        display: none;
    }

    .image-wrapper {
        width: 168px;
        height: 94px;
        float: left;
        overflow: hidden;
        padding: 0;

        img {
            padding-right: 10px;
        }
    }
}

.banner-wrapper {
    padding-bottom: 15px;

    img {
        height: 100%;
        width: 100%;
    }
}

.stiky-side-banner {
    padding-top: 10px;
    position: sticky;
    top: 50px;
}

@media (max-width: 1249px) and (min-width: 768px) {
    .container {
        width: 100% !important;
    }
}

@media (min-width: 1020px) {
    .container {
        max-width: 1250px;
    }

    .index-content-wrapper {
        width: 100%;
        max-width: 990px;
    }

    .index-side-banner-wrapper {
        width: 230px;
    }

    .content-main {
        width: 100%;
        max-width: 640px;
    }

    .content-right {
        width: 350px;
        padding-right: 0;
    }
}

@media (max-width: 1019px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 1020px) {
    .visible-lg {
        display: none;
    }

    .index-content-wrapper {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .container {
        width: 100% !important;
    }
}

@media (min-width:768px) {
    .text-left-sm {
        text-align: left !important;
    }

    .content-botom-hidden {
        display: none;
    }

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .bv-widget-subscribe.widget-sidebar button[type=submit], .bv-widget-subscribe.widget-sidebar button[type=button], .bv-widget-subscribe.widget-sidebar .inline-button {
        font-size: 10pt;
        padding: 8px;
    }

    .bv-widget-subscribe .inline-signup {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .bv-widget-subscribe .inline-signup {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .bv-widget-subscribe.widget-sidebar input[type=text] {
        height: 30px;
        padding-left: 10px;
        margin-right: 10px;
        font-size: 10pt;
    }

    .bv-container-page .bv-content-left {
        width: 50%;
        width: -webkit-calc(100% - 350px);
        width: calc(100% - 350px);
    }

    .bv-container-page .bv-content-right {
        width: 350px;
    }

    .text-left-sm {
        text-align: left !important;
    }

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-3 {
        width: 25%;
    }

}

@media (max-width:767px) {
    .banner-wrapper {
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media (max-width:768px) {
    .text-center-xs {
        text-align: center;
    }

    .navbar-brand {
        margin-left: 15px;
    }

    .content-right {
        display: none;
    }

    .content-main {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

p {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 1em;
}

p {
    margin: 0 0 10px;
}

section.gray {
    background: #f2f2f2;
}

.section-5pc {
    padding-top: 5%;
    padding-bottom: 5%;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.text-center-xs {
    text-align: center;
}

footer ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}