body {
    color: #222;
    font-family: 'Roboto',Helvetica,Arial,serif;
    font-size: 10pt;
    line-height: 1.6em;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    min-width: 270px;
    min-height: 50px;
    color: white;
    z-index: 9999;
    line-height: 20px;
    padding: 0;
}

.navbar .navbar-toggler {
    margin-right: 15px;
    
    .navbar-toggler-icon {
        color: white;
        display: none;
    }
}

.navbar .navbar-brand {
    margin-right: 0;
}

.navbar-toggler {
    border: none;
    background: 0 0 !important;
    padding: 9px 10px;
    
    &:focus {
        outline: none;
    }
    
    .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #fff;
        -webkit-transition: all .1s;
        -o-transition: all .1s;
        transition: all .1s;
        
        &+.icon-bar {
            margin-top: 4px;
        }
        
        &.top-bar {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transform-origin: 10% 10%;
            -ms-transform-origin: 10% 10%;
            -o-transform-origin: 10% 10%;
            transform-origin: 10% 10%;
        }
        
        &.middle-bar {
            opacity: 0;
        }
        
        &.bottom-bar {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 10% 90%;
            -ms-transform-origin: 10% 90%;
            -o-transform-origin: 10% 90%;
            transform-origin: 10% 90%;
        }
    }
    
    &.collapsed {
        .top-bar {
            -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
            -o-transform: rotate(0);
            transform: rotate(0);
        }

        .middle-bar {
            opacity: 1;
        }

        .bottom-bar {
            -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
            -o-transform: rotate(0);
            transform: rotate(0);
        }
    }
}

.bg-red-main {
    background-color: #f44336;
}

.bg-gray-main {
    background-color: #263238;
}

.color-white {
    color: white;
}

.navbar-logo {
    width: 164px;
    height: 32px;
}

.navbar-expand-md .navbar-nav {
    flex-direction: row-reverse;
}

.navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-nav .nav-item a.nav-link {
    padding: 0;
    line-height: 20px;
    border-bottom: 2px solid transparent;
}

.navbar-nav .nav-item a:hover {
    border-bottom: 2px solid white;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    min-height: 450px;
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    padding-top: 20px;
    padding-bottom: 40px;
    color: #fff;
    
    ul {
        line-height: 1.4em;
        font-weight: 300;
    }

    p {
        font-size: 10pt;
        line-height: 130%;
        font-weight: 300;
        color: #cfd8dc;
    }

    a {
        color: #cfd8dc;
    }

    .footer-col {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.footer-col a:hover {
    text-decoration: underline;
    color: #cfd8dc;
}

a {
    text-decoration: none;
    color: #222;
}

a:hover {
    text-decoration: none;
    color: #222;
}

.body-container p a:not(.button), .bv-container-page p a:not(.button) {
    font-weight: 700;
    text-decoration: underline;
    color: #0277bd;
}

h1 {
    font-size: 36px;
    line-height: 130%;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-size: 26px;
    line-height: 130%;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 16px;
}

.footer-logo {
    width: 100%;
    max-width: 256px;
    height: auto;
}

.footer-main {
    padding-bottom: 15px;
}

.footer-main h3 {
    font-size: 14px;
    line-height: 115%;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 30px;
}

.footer-copyright {
    width: 100%;
}

.footer-copyright p {
    font-size: 12px;
    line-height: 115%;
    color: #b0bec5;
}

.separator {
    margin: 15px 0;
    border-bottom: 1px solid #37474f;
}

.body-wrapper {
    background-color: #f0f0f0;
    padding-top: 50px;
}

.container-default {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-container.container {
    padding-right: 15px;
}

.button.button-red {
    background: #f44336;
    margin-bottom: 30px;
}

.label {
    color: #f44336;
    font-weight: 700;
    text-transform: uppercase;
}

.column-label {
    color: #aeaaaa;
    font-size: 7pt;
    line-height: 1;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.signup .panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    
    .panel-body {
        padding-right: 3px;
    }
}

.form-control::placeholder {
    color: #999;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.index-side-banner-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.big-block .hidden-big {
    display: none;
}

.small-block .hidden-small {
    display: none;
}

.small-block .image-wrapper {
    width: 168px;
    height: 94px;
    float: left;
    overflow: hidden;
    padding: 0;
}

.banner-wrapper {
    padding-bottom: 15px;
}

.banner-wrapper img {
    height: 100%;
    width: 100%;
}

.stiky-side-banner {
    padding-top: 10px;
    position: sticky;
    top: 50px;
}

.visible-xs {
    display: none !important;
}

@media (min-width: 1250px)  {
    .container{
    width: 1250px;    
    }
}

@media (max-width: 1249px) and (min-width: 768px) {
    .container {
        width: 100% !important;
    }
}

@media (min-width: 1020px) {
    .container {
        max-width: 1250px;
    }

    .index-content-wrapper {
        width: 100%;
        max-width: 990px;
    }

    .index-side-banner-wrapper {
        width: 230px;
    }

    .content-main {
        width: 100%;
        max-width: 640px;
    }

    .content-right {
        width: 350px;
        max-width: 36.333333%;
        flex: 0 0 36.333333%;
    }
}

@media (max-width: 1019px) {
    .container {
        max-width: 100%;
    }
    table.article-table.large-only {
        display: none;
    }
    table.article-table.small-only {
        display: table;
    }
}

@media (max-width: 1020px) {
    .visible-lg {
        display: none;
    }

    .index-content-wrapper {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .container {
        width: 100% !important;
    }
}

@media (min-width: 768px) {
    .text-left-sm {
        text-align: left !important;
    }

    .content-botom-hidden {
        display: none;
    }

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .bv-widget-subscribe.widget-sidebar button[type=submit], .bv-widget-subscribe.widget-sidebar button[type=button], .bv-widget-subscribe.widget-sidebar .inline-button {
        font-size: 10pt;
        padding: 8px;
    }

    .bv-widget-subscribe .inline-signup {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .bv-widget-subscribe .inline-signup {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .bv-widget-subscribe.widget-sidebar input[type=text] {
        height: 30px;
        padding-left: 10px;
        margin-right: 10px;
        font-size: 10pt;
    }

    #subscribe-page-content {
        width: calc(100% - 350px);
    }

    .bv-container-page .bv-content-left {
        width: 50%;
        width: -webkit-calc(100% - 350px);
        width: calc(100% - 360px);
    }

    .bv-container-page .bv-content-right {
        width: 350px;
    }

    .text-left-sm {
        text-align: left !important;
    }

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-3 {
        width: 25%;
    }
}

@media (max-width: 767px) {
    .big-block.article .article-content-wrapper h3 {
        font-size: 13pt;
    }
    
    .article .article-content-wrapper h3 {
        font-size: 11pt;
    }
    
    .banner-wrapper {
        margin-left: -15px;
        margin-right: -15px;
    }

    .visible-xs {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .text-center-xs {
        text-align: center;
    }

    .nav-container.container {
        padding-right: 0;
    }
    
    .navbar-brand {
        margin-left: 15px;
        min-height: 50px;
        padding: 9px 0;
    }

    .navbar-expand-md .navbar-nav {
        flex-direction: column-reverse;
        
        .nav-item {
            margin-left: 0;
            margin-right: 0;
            border-top: 1px solid rgba(255,255,255,.25);
            
            .nav-link {
                padding: 10px 15px;
                line-height: 20px;
            }
        }
    }

    .container-default {
        padding-top:15px;
        padding-bottom: 15px;
    }
    
    .content-right {
        display: none;
    }

    .content-main {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .hidden-xs {
        display: none;
    }
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

p {
    font-size: 11pt;
    line-height: 150%;
    margin-bottom: 1em;
}

p {
    margin: 0 0 10px;
}

section.gray {
    background: #f2f2f2;
}

.section-5pc {
    padding-top: 5%;
    padding-bottom: 5%;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.text-center-xs {
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.body-container ul, .body-container ol, .bv-container-page ul, .bv-container-page ol {
    font-size: 16px;
    line-height: 150%;
}

.stacktable {
    width: 100%;
}

table {
    background-color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table.article-table.large-only {
    display: table;
}

table.article-table.small-only {
    display: none;
}

table.article-table {
    font-size: 10pt;
    margin: 20px 0;
}

table.article-table.large-only tr {
    border-bottom: 1px solid #ccc;
}

table.article-table tr:first-child {
    font-weight: 700;
}

table.article-table td:first-child, table.article-table th:first-child {
    padding-left: 10px;
}

table.article-table tr td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

table.article-table td, table.article-table th {
    vertical-align: top;
}

table.article-table td, table.article-table tr {
    height: auto !important;
}

table.article-table.small-only .st-head-row {
    background-color: #f0f0f0;
    padding: 5px 10px;
}

table.article-table.small-only .st-head-row-main {
    display: none;
}

table.article-table.large-only tr:nth-child(odd):not(:first-child) {
    background-color: #f7f7f7;
}

table.article-table p {
    font-size: 10pt !important;
    margin-bottom: 0 !important;
}

.image-wrapper .image-container .border-sponsored {
    display: block;
    background-color: #f4f4f4;
    color: #222;
    width: 100%;
    padding: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 10pt;
    line-height: 1.3em;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.content-main p.disclaimer {
    font-weight: 300;
    color: #707070;
    margin-block-start: 1em;
}

.content-main p.disclaimer a {
    font-weight: 700;
    text-decoration: underline;
    color: #0277bd;
}

.label-subtitle {
    color: #f44336;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 0.5rem;
}

.image-sponsor-label {
    font-size: 7pt;
    position: relative;
    bottom: 18px;
    left: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.9);
}

.side-article-wrapper .side-article-content h3 {
    font-size: 11pt !important;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 150%;
}

#footer li {
    font-weight: 300;   
}

.content-main .article-content img {
    display: block;
    max-width: 100%;
    height: auto;
}

.big-block-article-title{
    margin-bottom: 10px;
}

.small-block-article-title {
    padding-right: 20px;
}

.bv-post .post-content ul, .post-type-article ul, .post-type-newsfeed ul {
    list-style: square;
    padding: 0 1em;
    margin: 1.2em;
}

ul.heateor_sss_follow_ul, ul.heateor_sss_sharing_ul {
    margin: 1px 0 !important;
}

ul.heateor_sss_follow_ul, ul.heateor_sss_sharing_ul {
    list-style: none !important;
    padding-left: 0 !important;
}

ul.heateor_sss_follow_ul li.heateorSssSharingRound, ul.heateor_sss_sharing_ul li.heateorSssSharingRound {
    background: 0 0 !important;
}

.bv-post .post-content li, .post-type-article li, .post-type-newsfeed li {
    margin-bottom: 5pt;
}

.bv-post .post-content, .bv-post .post-content p, .bv-post .post-content li, .post-type-article, .post-type-article p, .post-type-article li, .post-type-newsfeed, .post-type-newsfeed p, .post-type-newsfeed li {
    font-size: 11pt;
    color: #222;
    line-height: 150%;
}

div.heateor_sss_horizontal_sharing li {
    width: auto;
}

div.heateor_sss_horizontal_sharing .heateorSssSharingSvg {
    width: 50%;
    margin: auto;
}

ul.heateor_sss_follow_ul li, ul.heateor_sss_sharing_ul li {
    float: left !important;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    border: none !important;
    clear: none !important;
}

.bv-post .post-content .heateorSssSharing, .post-type-article .heateorSssSharing, .post-type-newsfeed .heateorSssSharing {
    position: relative;
}

.heateor_sss_horizontal_sharing .heateorSssSharing, .heateor_sss_standard_follow_icons_container .heateorSssSharing {
    color: #fff;
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
}

.heateorSssSharing {
    float: left;
    border: none;
}

.heateorSssFacebookBackground {
    background-color: #3c589a;
}

.heateorSssTwitterBackground {
    background-color: #55acee;
}

.heateorSssEmailBackground {
    background-color: #649a3f;
}

.heateorSssSharing, .heateorSssSharingButton {
    display: block;
    cursor: pointer;
    margin: 2px;
}

div.heateor_sss_horizontal_sharing .heateorSssSharingSvg {
    width: 50%;
    margin: auto;
}

.heateorSssFacebookSvg {
    background: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%22-5%20-5%2042%2042%22%3E%3Cpath%20d%3D%22M17.78%2027.5V17.008h3.522l.527-4.09h-4.05v-2.61c0-1.182.33-1.99%202.023-1.99h2.166V4.66c-.375-.05-1.66-.16-3.155-.16-3.123%200-5.26%201.905-5.26%205.405v3.016h-3.53v4.09h3.53V27.5h4.223z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E) no-repeat center center;
}

.heateorSssSharingSvg {
    width: 100%;
    height: 100%;
}

.heateorSssTwitterSvg {
    background: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%22-4%20-4%2039%2039%22%3E%0A%3Cpath%20d%3D%22M28%208.557a9.913%209.913%200%200%201-2.828.775%204.93%204.93%200%200%200%202.166-2.725%209.738%209.738%200%200%201-3.13%201.194%204.92%204.92%200%200%200-3.593-1.55%204.924%204.924%200%200%200-4.794%206.049c-4.09-.21-7.72-2.17-10.15-5.15a4.942%204.942%200%200%200-.665%202.477c0%201.71.87%203.214%202.19%204.1a4.968%204.968%200%200%201-2.23-.616v.06c0%202.39%201.7%204.38%203.952%204.83-.414.115-.85.174-1.297.174-.318%200-.626-.03-.928-.086a4.935%204.935%200%200%200%204.6%203.42%209.893%209.893%200%200%201-6.114%202.107c-.398%200-.79-.023-1.175-.068a13.953%2013.953%200%200%200%207.55%202.213c9.056%200%2014.01-7.507%2014.01-14.013%200-.213-.005-.426-.015-.637.96-.695%201.795-1.56%202.455-2.55z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E) no-repeat center center;
}

.heateorSssEmailSvg {
    background: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%22-4%20-4%2043%2043%22%3E%3Cpath%20d%3D%22M%205.5%2011%20h%2023%20v%201%20l%20-11%206%20l%20-11%20-6%20v%20-1%20m%200%202%20l%2011%206%20l%2011%20-6%20v%2011%20h%20-22%20v%20-11%22%20stroke-width%3D%221%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E) no-repeat center center;
}

.social-share-buttons {
    padding-bottom: 60px;
}

.index-content-wrapper .banner-wrapper .banner-container .column-label {
    margin-top: -10px;
}

.top-finwire-news {
    margin-left: 20px;
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 7px;
    a:before {
        content: "";
        background: #f44336;
        display: block;
        height: 6px;
        width: 6px;
        left: 0;
        position: absolute;
        top: .58em;
        margin-left: 20px;
        margin-top: 12px
    }
    a:hover {
        text-decoration: underline;
    }
}
