.social-buttons {
    margin-bottom: 20pt;

    .social-buttons-list {
        list-style: none;
        height: 34px;
        padding: 0;
        margin: 0;

        li {
            float: left;
            margin: 2px;
            padding: 0;
            width: 100px;
            height: 30px;
            text-align: center;
        }

        i {
            padding: 8px;
            display: inline-block;
        }
    }

    .facebook {
        background-color: #3c589a;
    }

    .twitter {
        background-color: #55acee;
    }

    .email {
        background-color: #649a3f;
    }
}
