
@{
    ViewData["Title"] = "Articles";
}

<h1>Articles</h1>

<div id="articles-grid">

</div>

<script>
    $(function() {
        $("#articles-grid").dxDataGrid({
            dataSource: DevExpress.data.AspNet.createStore({
                key: "id",
                loadUrl: "@Url.Action("Get", "Articles")",
                insertUrl: "@Url.Action("Insert","Articles")",
                updateUrl: "@Url.Action("Update", "Articles")",
                deleteUrl: "@Url.Action("Delete","Articles")"
            }),
            columns: [
                {
                    dataField: "date",
                    caption: "Date created",
                    dataType: "datetime"
                },
                {
                    dataField: "title",
                    caption: "Title"
                },
                {
                    dataField: "subtitle",
                    visible: false  
                },
                {
                    dataField: "imageRelativeUrl",
                    caption: "Image",
                    width: 110,
                    alignment: "center",
                    cellTemplate: function(container, options) {
                        container.append("<img style='width: auto' src=\"" + options.text + "\" width=\"50\" height=\"50\" >");
                    }
                },
                {
                    dataField: "newsText",
                    visible: false
                },
                {
                    dataField: "isAdvertising",
                    dataType: "boolean",
                    visible: false
                },
                {
                    dataField: "dateModified",
                    dataType: "datetime",
                    visible: false
                },
                {
                    dataField: "slug",
                    dataType: "string",
                    visible: false
                },
                {
                    dataField: "order",
                    dataType: "number",
                    visible: false
                }
            ],
            editing: {
                mode: "popup",
                allowUpdating: true,
                allowAdding: true,
                allowDeleting: true,
                popup: {
                    title: "Article",
                    showTitle: true,
                    width: 900,
                    height: 700
                },
                form: {
                    colCount: 2,
                    items: ["date", 
                        {
                            dataField: "isAdvertising",
                            dataType: "boolean"
                        }, 
                        "title", "subtitle",
                        {
                            dataField: "newsText",
                            editorType: "dxTextArea",
                            colSpan: 2,
                            editorOptions: {
                                height: 300
                            }
                        },
                        {
                            dataField: "dateModified",
                            dataType: "datetime"
                        },
                        "imageRelativeUrl",
                        "slug",
                        "order"
                    ]
                }
            },
            remoteOperations: true,
            searchPanel: {
                visible: true
            },
            grouping: {
                autoExpandAll: false
            }
        });
    });
</script>