
@{
    ViewData["Title"] = "Articles";
}

<h1>Articles</h1>
<script type='text/javascript'>
    function AreYouSureFunction() {
        //Prompt for confirmation
        if (confirm("Are you sure?")) {
            //Your AJAX call that corresponds with the href attribute of your link
            $.ajax({
                type: "POST",
                url: '/Admin/Home/ClearCache/',
                success: function (resultData) {
                    alert('Done!');
                }
            });
            //This prevents the default behavior of the actual link (it will hit your controller action)
            return false;
        }
        else {
            //Unconfirmed - cancel any further actions
            return false;
        }
    }
</script>
<a href='/Admin/Companies'>Companies</a>
&nbsp;&nbsp;
<a href='/Admin/JobAdverts'>Job Adverts</a>

&nbsp;&nbsp;
<a href='/Admin/StaticPages'>Static Pages</a>

&nbsp;&nbsp;
<a href='/Admin/Files'>Files</a>

&nbsp;&nbsp;
<a href="#" onclick="return AreYouSureFunction();">Clear Cache</a>

<div id="articles-grid">

</div>
<script src="//cdn.ckeditor.com/4.14.1/standard-all/ckeditor.js"></script>
<script src="~/js/datagrid.js"></script>
<script>

</script>
