
@{
    ViewData["Title"] = "Articles";
}

<h1>Articles</h1>
<a href='/Admin/Companies'>Companies</a>
&nbsp;&nbsp;
<a href='/Admin/JobAdverts'>Job Adverts</a>

<div id="articles-grid">

</div>
<script src="//cdn.ckeditor.com/4.14.1/standard-all/ckeditor.js"></script>
<script src="~/js/datagrid.js"></script>
<script>

</script>
